<div class="menu-box center">

    <div class="button-box">
        <div class="logo">
            <img src="logo_hyblab.png">
        </div>
        <input name="play" id="play-btn" type="button" value="Jouer">
        <input name="apropos" id="play-btn" type="button" value="A propos">
    </div>
</div>


