<div class="menu-box center">
    <div class="horizontal-box decalageBottom50">
        <img class="logo" src="img/geoPoliBand.png" width="25px">
    </div>
    <div class="vertical-box">
        <input name="play" id="play-btn" class="btn-accueil btn-bleu" type="button" value="Jouer">
        <input name="gamerule" id="gamerule-btn" class="btn-accueil btn-bleu" type="button" value="Règle du jeu">
    </div>
</div>