<div class="menu-box center">
    <div class="button-box">
        <div class="logo">
            <img  src="img/geoPoliBand.png" width="25px">
        </div>

        <input name="play" id="play-btn" class="btn-accueil" type="button" value="Jouer">
        <input name="apropos" id="apropos-btn" class="btn-accueil" type="button" value="A propos">
    </div>
</div>


