<div class="tips-page center">
    <div class="horizontal-box">
        <img class="logo" src="img/geoPoliBand.png" width="25px">
    </div>

    <div id="couter-country">
        <p id="numeroCommuneActuelle" class="numeroCommune"></p>
        <p class="numeroCommune">/</p>
        <p id="numeroCommuneMax" class="numeroCommune"></p>

    </div>

    <div id="map"></div>

    <div id="slider">
        <img class="button-slider" id="indice" src="img/pictogrammes/pictoIdee.png">
        <img class="button-slider" id="show" src="img/pictogrammes/pictoAffirmation.png">
        <img class="button-slider" id="" src="img/pictogrammes/pictoSuivant.png">
    </div>

    <div id="indice-box">
        <h6>Indice</h6>
        <p>Placer l'indice associer</p>
    </div>

    <div id="affirmation">
        <h6>Affirmation</h6>
        
        <div class="affirmation-content"></div>
        <div class="affirmation-content"></div>
        <div class="affirmation-content"></div>
        <div class="affirmation-content"></div>
        <div class="affirmation-content"></div>

        <div class="button-list">
            <!-- Next/prev buttons -->
            <a class="prev" onclick="sliderplus(-1)">&#10094;</a>
            <a class="next" onclick="sliderplus(1)">&#10095;</a>
        </div>
            <!-- Dots/bullets/indicators -->
        <div class="dot-container">
            <span class="dot" onclick="slidercurrent(1)"></span>
            <span class="dot" onclick="slidercurrent(2)"></span>
            <span class="dot" onclick="slidercurrent(3)"></span>
            <span class="dot" onclick="slidercurrent(4)"></span>
            <span class="dot" onclick="slidercurrent(5)"></span>
        </div>
    </div>
    
    

    <div id="info-box">
        <p></p>
    </div>
</div>









