
<div class="tips-page center">
    <input type="image" id="boutonRetour" alt="Retour" src="img/leftArrow.png" height="30" width="30">

    <div class="tips-image">
        <img src="img/loireAtlantique.png">
    </div>

    <div class="tips">
        <h6> AFFIRMATION </h6>

        <div class="text">
            <div id="tips-1">
                tipsbndqscqhdjchjq c'est moi 1fdggrtgyrtrtyrtyrtyryryrtyrty 
                sfdskjfksd eydgzfbjhedsb fzrjhdbfhj
                sdfsdfsdkf sdfsdfsd duhuicvbjdq sdgfiujkdsb sefukjdns
            </div>
        </div>
    </div>
</div>