
<div class="tips-page center">
    <input type="image" id="boutonRetour" alt="Retour" src="img/leftArrow.png" height="30" width="30">

    <div class="tips-image">
        <img src="img/loireAtlantique.png">
    </div>

    <div class="tips">
        <h6> AFFIRMATION </h6>

        <div class="text">
            
            <div class="affirmation">
                <h6> AFFIRMATION 1 </h6>
                sdkfgbksdjbgjksdbgdsdkgbsddgsbfkjdbskjfbkjqbgq
                qdsfgfqbgjkgqbjqjdfbgkjrbzr ze f zef zqkjfzke f zefqkjz fkzef fjqbfbjhdbsq
            </div>

            <div class="affirmation">
                <h6> AFFIRMATION 2 </h6>
                tips c'est moi 2 
                ezfjkbskdjbfjkzebf kezbuizebrzeuruzeriuehrizeurbesjhfb sdfsdfsdfsfkjsd
                sdjfgsdkfhksdfjhdshfke ezkrbfzekjbfse
                sdfbsdkfsdjkghksdjhgfkjsdfhksdf
            </div>

            <div class="affirmation">
                <h6> AFFIRMATION 3 </h6>
                tips c'est moi 3
                sjkdfhksdhkfjhejkzhbfze izeubrzeiu ze fize fisd fdbiu fzieu zeirsir sdjrbez
                sfjkbdskhfdshiofhzeor  rzorzof s df fzi riezurb seifseufbud
                sdfkdsjgdkjsffeozibzetzeotb sdfjsdfbezotize zef
                sdkjfbkze rezrzerze
                e zrzere
            </div>

            <div class="affirmation">
                <h6> AFFIRMATION 4</h6>
                tips c'est moi 4
                ezfjkbskdjbfjkzebf kezbuizebrzeuruzeriuehrizeurbesjhfb sdfsdfsdfsfkjsd
                sdjfgsdkfhksdfjhdshfke ezkrbfzekjbfse
                sdfbsdkfsdjkghksdjhgfkjsdfhksdf
            </div>

            <div class="affirmation">
                <h6> AFFIRMATION 5 </h6>
                tips c'est moi 5
                sjkdfhksdhkfjhejkzhbfze izeubrzeiu ze fize fisd fdbiu fzieu zeirsir sdjrbez
                sfjkbdskhfdshiofhzeor  rzorzof s df fzi riezurb seifseufbud
                sdfkdsjgdkjsffeozibzetzeotb sdfjsdfbezotize zef
                sdkjfbkze rezrzerze
                e zrzere
            </div>

            <div class="button-list">
                <!-- Next/prev buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <!-- Dots/bullets/indicators -->
            <div class="dot-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
            
        </div>
    </div>
</div>
<script>

var slideIndex = 1;
showSlides(1);
</script>