



<footer id="bandeau">
    <!-- Logo Hyblab -->
    <a href="http://www.hyblab.fr/"><img id="hyblab" src="logo_hyblab.png" alt="Hyblab DataSport"></a>

    <!-- Les organisateurs -->
    <ul>
        <li><a href="http://www.ouestmedialab.fr/"><img src="logo_oml.png" alt="Ouest Médialab"></a></li>
        <li><a href="http://www.agrnantes.fr"><img src="ecoles/logo_agr.png" alt="AGR école de l'image"></a></li>
        <li><a href="http://www.univ-nantes.fr/"><img src="ecoles/logo_nantesuniversite.png" alt="Université de Nantes"></a></li>
        <li><a href="http://www.polytech.univ-nantes.fr/"><img src="ecoles/logo_polytech.png" alt="Polytech Nantes"></a></li>
        
        <ul>
            <!-- Logos CC et opensource -->
            <li>
                <ul>
                    <li class="stacked"><img id="cc" src="logo_cc.png" alt="Creative commons"></li>
                    <li class="stacked"><img id="opensource" src="logo_opensource.png" alt="Open source"></li>
                </ul>
            </li>
            
            <!-- Logo de votre porteur de projet -->
            <li><a href="http://www.mon-porteur-de-projet.org"><img src="no-logo.png" alt="Logo de mon porteur de projet"></a></li>
            
            <!-- Partenaires institutionnels -->
            <li><a href="http://www.paysdelaloire.fr/"><img class="institutionnel" src="institutionnels/logo_pdl.png" alt="Pays de La Loire"></a></li>
            <li><a href="http://www.nantesmetropole.fr/"><img class="institutionnel" src="institutionnels/logo_nantesmetropole.png" alt="Nantes Métropole"></a></li>
        </ul>
    </ul>
</footer>
