<div class=" center"></div>
    <div class="vertical-box">
        <div class="horizontal-box decalageBottom15">
            <img class="logo" src="img/geoPoliBand.png" width="25px">
        </div>

        <div class="popUp decalageBottom5">
            <h6>CLASSEMENT</h6>

            <div id="textClassement" class="popUp-info"></div>
        </div>

        <input name="pseudo" id="pseudo" class="popUp-inpuText" type="text" placeholder="Votre pseudo ...">
        <input name="save" id="save-btn" class="btn-popUp btn-bleu" type="button" value="Valider & Rejouer">
    </div>
</div>