<div class="tips-page center">
    <div class="back-section">
        <img src="img/loireAtlantique.png" alt="Carte des communes" height="90" width="90">
    </div>

    <div class="tips">
        <h6>Règle du jeu : </h6>

        <div class="text">
            Bonjour, vous cassez les couilles, sdkjfsdjkfsdf sdkjfbsdkjfbsdkjbf
            sdfjksdfhkjsdhfksdfksdfhkdsjhgksd
            sdjqgjkghkqhgjkfhdqg

            qdgjkqhsdkgjsdq
            sqdgkjhsqdgksdq
            gsqdgjjksdghkjsd

            qsdgjkdhgksdhqgkjdsqf
        </div>
        <div class="button-list"> 
            <button class="button"> Suivant </button>
            <button class="button"> Passer </button>
    
        </div>
    </div>
</div>
