
<div class=" center">
    <div class="horizontal-box decalageBottom30">
        <input type="image" id="boutonRetour" alt="Retour" src="img/leftArrow.png" height="30">
        <img class="logo" src="img/geoPoliBand.png" width="25px">
    </div>

    <div class="vertical-box">
        <p class="textZone decalageBottom5">FAITES VOTRES CHOIX</p>
        <p class="decalageBottom15 genericText">ncjnjcnd c dh chd cnjcnjd cjenjcne cnjennje nie,d</p>
        <div class="horizontal-box-space">
            <input type="button" id="btn-gauche" class="btn-menu btn-bleuClair" value="GAUCHE">
            <input type="button" id="btn-centre" class="btn-menu btn-vert" value="CENTRE">
            <input type="button" id="btn-droite" class="btn-menu btn-rouge" value="DROITE">
        </div>
    </div>
</div>