<div class="tips-page center">
    
    <div class="tips-image">
        <img src="img/loireAtlantique.png">
    </div>

    <div class="tips">
        <h6>Règle du jeu : </h6>

        <div class="text">
            <div id="tips-1">
                tips c'est moi 1fdggrtgyrtrtyrtyrtyryryrtyrty 
                sfdskjfksd
                sdfsdfsdkf sdfsdfsd
            </div>
            <div id="tips-2">
                tips c'est moi 2 
                sfdskjfksd
                sdfsdfsdkf sdfsdfsd
            </div>
            <div id="tips-3">
                tips c'est moi 3
                sfdskjfksddsfs
                sdfsdfsdkf sdfsdfsd
            </div>
        </div>
        <div class="button-list"> 
            <button class="button next"> Suivant </button>
            <button class="button start"> Passer </button>
        </div>
    </div>
</div>