    <div>
        <h6>Résulat de l'élection présidentielle 2017</h6>
        <div class="visu">

            <div id="histogramme"></div>

            <div id="pie_chart"></div>
        </div>
    </div>