<div id="mySwiper">
    <div class = "swiper-wrapper">
        <section id="first-slide" class="swiper-slide center">
            <div id="histogramme"></div>
        </section>
        <section id="second-slide" class="swiper-slide center">
            <div id="pie_chart"></div>
            <input name="continue" id="continue-btn" class="btn-popUp popUp-Space btn-bleu" type="button" value="Continuer">
        </section>
    </div>
</div>

<div class="swiper-pagination"></div>