    <div class=" center">
        <h5> Histogramme <text id="nomVariable"> </text></h5>
        <div id="histogramme"></div>
  
        <h5>Pie chart<text id="nomVariable"> </text></h5>
        <div id="pie_chart"></div>
    </div>