<div class=" center"></div>
    <div class="vertical-box">
        <div class="horizontal-box decalageBottom30">
            <img class="logo" src="img/geoPoliBand.png" width="25px">
        </div>

        <div class="popUp decalageBottom5">
            <h6>VOUS ETES CALE EN POLITIQUE</h6>

            <div class="text popUp-info">
                Votre Score est de ??? Pts.
            </div>
        </div>

        <input name="save" id="save-btn" class="btn-popUp btn-bleu" type="button" value="Enregistrer votre score">
        <input name="rePlay" id="rePlay-btn" class="btn-popUp btn-bleu" type="button" value="Rejouer">
    </div>
</div>