/* Gestion Map */
#map {
    margin: 10%;
    height: 50%;
}

.surface-area{
    fill: #ffffff;
    stroke: #FFF;
    stroke-width: 1px;
}

.surface-area:hover{
    stroke: #282246;
    transition: stroke 0.3s;
    cursor: pointer;
}

.surface-area:active{
    fill: #282246;
    stroke: #FFF;
    transition: fill 0.3s;
    cursor: pointer;
}

.button-zoom, .button-direction{
    fill: #282246;
    cursor: pointer;
    stroke: #ED6464;
    stroke-width: 0.5;
    stroke-miterlimit:6;
    stroke-linecap: round;
}

.compass{
    fill: #fff;
    stroke: #282246;
    stroke-width: 1;
}

.plus-minus{
    fill: #fff;
    pointer-events: none;
}

#cityname{
    margin-top: 5%;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 30%;
}

/* La pop-up affirmation */
.affirmation-page{
    position: absolute;
    height: 100%;
    width: 100%;
}

.affirmation{
    position: absolute;
    width: auto;
    height: auto;
    left: 0;
    bottom: 0;

    border-top-left-radius : 50px;
    border-top-right-radius : 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -15px 15px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px;

    background-color: #282246;
    color: #f0e4d8;
    
    background-position: 9px 0px;
    background-repeat: no-repeat;

    line-height: 18px;
    overflow: hidden;
    padding: 0 60px;

    text-align: center;
}

.affirmation > p{
    margin-top: 20px;
    font-size: 25%;
    font-family: "Bebas neue";

    text-align: center;
}

.affirmation-content{
    font-size: 18%;
    line-height: 30px;
    text-align: center;
    display: none;
}

/* Confirmer la sélection */
#panel-confirm{
    position: absolute;
    width: 380px;
    height: 153px;
    left: 58px;
    top: 208px;

    border-radius: 20px;
    
    border: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -15px 15px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px;

    background-color: #282246;
    color: #f0e4d8;
    
    background-position: 9px 0px;
    background-repeat: no-repeat;

    line-height: 18px;
    overflow: hidden;
    padding: 10px 10px;

    text-align: center;
}
