.tips-page{
    font-family:'Reem Kufi';
    position: absolute;
    height: 100%;
    width: 100%;
}


.tips-image > img{
    width: 25rem;
}

.tips{
    position: absolute;
    top: 20%;
    margin-left: 30px;
    margin-right: 30px;

    border: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -15px 15px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px;

    background-color: #282246;
    color: #f0e4d8;
    
    background-position: 9px 0px;
    background-repeat: no-repeat;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    line-height: 18px;
    overflow: hidden;
    padding: 15px 60px;

    text-align: center;
}

.tips > h6{
    margin-top: 20px;
    font-size: 25%;
    font-family: "Bebas Neue";

    text-align: center;
}

.text{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tips-content{
    font-size: 18%;
    line-height: 30px;
    text-align: center;
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #f0e4d8;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
} 

.prev {
    position: absolute;
    left: 0;
    border-radius: 3px 0 0 3px;
} 
/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding-bottom: 10px;
    background: none;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #f0e4d8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: #ED6464;
}