* {
    box-sizing: border-box;
}

html,
body {
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

body {
    position: relative;
    display: block;
    color: #F5F5F5;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    background: #303844;
    overflow-x: hidden;
}

#Introduction {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all .3s;
    transform: translateY(0);
    z-index: 500;
    width: 100%;
    height: 100%;
    background: #303844;
    display: block;
}

#Introduction.hide-introduction {
    opacity: 0;
    transform: translateY(-100%);
}

#Introduction video {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
    object-fit: cover;
}

#Introduction .loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Introduction .loader img {
    width: 75vw;
    max-width: 500px;
}

#Introduction .loader p {
    width: 75vw;
    max-width: 500px;
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}

#Introduction .loader p.load {
    opacity: 0.5;
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.25;
    }
}

#container {
    display: block;
    position: relative;
    width: 100%;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

header .forCars {
    position: relative;
    width: 90%;
    height: 70vh;
    margin-top: 25px;
}

header .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5F5;
    color: black;
    width: 100%;
    height: 100%;
    height: 70.5vh;
    padding: 25px;
    border-radius: 10px;
    overflow-y: hidden;
}

header .main .logo {
    width: 80%;
}

header .main p {
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
}

header .car {
    position: absolute;
    height: 10vh;
    background-position: center center;
    max-width: 400px;
}

header .car-b {
    bottom: -5%;
    left: 40%;
}

header .car-r {
    bottom: -10%;
    left: -20%;
}

header .startTheRace {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 9vh;
}

#restartTheRace,
header .startTheRace button {
    display: block;
    width: 80%;
    height: 9vh;
    margin-top: -1.5vh;
    border-radius: 500px;
    border: 0;
    background: #CF4B45;
    z-index: 5;
    font-family: 'Goldman', cursive;
    color: #F5F5F5;
    font-size: 22px;
    font-weight: 500;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

#restartTheRace {
    margin-bottom: 50px;
    margin-top: 0;
    width: 60%;
}

header .startTheRace button:active {
    background: #AE272C;
}

header .startTheRace .damier {
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    object-fit: cover;
}

header .routeDebut {
    position: absolute;
    width: 100%;
    height: 12vh;
    bottom: 0;
    background: url(../img/pattern/fond_debut.svg);
    background-size: 100%;
    background-repeat: repeat-y;
}

.hidden {
    display: none;
}

.details {
    margin-top: 25px;
    width: 100%;
}

.details .top {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.details .top button {
    border: none;
    background: transparent;
    border-radius: 100%;
}

.details .top button img {
    width: 35px;
    height: 35px;
}

.details .title {
    font-size: 25px;
    font-family: 'Goldman', cursive;
    font-weight: 400;
    padding: 15px 0;
}

.details .body {
    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
    padding-bottom: 50px;
}

.details #CandidatSelection.body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.details .body .candidat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: 16px;
    line-height: 14px;
    width: 90px;
    padding: 5px 0;
    cursor: pointer;
}

.details .body .candidat img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 555px;
    padding: 5px;
    background: #F5F5F5;
}

.details .body .candidat[data-selected="true"] img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 555px;
    padding: 5px;
    background: blue;
}

#CourseSelection .btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#CourseSelection .btn.center {
    align-items: center;
}

#CourseSelection .btn.right {
    align-items: flex-end;
}

#CourseSelection .btn img {
    width: 100px;
}

#CourseSelection .btn button {
    transition: all .3s;
    border: 0;
    background: #191919;
    border-radius: 500px;
    font-size: 25px;
    color: #f5f5f5;
    font-family: 'Kanit', sans-serif;
    height: 50px;
    width: 100%;
}

#CourseSelection .btn button.selected,
#CourseSelection .btn button:active {
    background: #f5f5f5;
    color: #191919;
}

#CourseSelection .btn button.selected:active {
    background: #191919;
    color: #f5f5f5;
}

#animation {
    position: relative;
}

#race {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    height: 100vh;
    width: 100%;
}

#race.before-scrolling {
    position: absolute;
    top: 0px
}

#race.while-scrolling {
    position: fixed;
    top: 0px
}

#race.after-scrolling {
    position: absolute;
    bottom: 0px
}

#race .logo {
    height: 12.5vh;
    max-width: 50%;
    z-index: 50;
}

#race .regle {
    position: absolute;
    top: 12.5vh;
    left: 0;
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 70vh;
}

#race .regle .line {
    position: relative;
    width: 100%;
    height: 1px;
    border-bottom: 0.4vh dashed #2e3845;
}

#race .regle .line .number {
    position: absolute;
    right: -55px;
    top: -7.5px;
    width: 50px;
    font-family: 'Goldman', cursive;
    font-size: 15px;
    line-height: 15px;
    color: #2e3845;
    font-style: italic;
}

#race .regle .mark {
    display: block;
    margin-right: -15px;
    width: 15px;
    height: 2px;
    border-radius: 50px;
    background: #2e3845;
}

#race .regle .mark:nth-child(5n + 1) {
    margin-right: -25px;
    width: 25px;
}

#race .candidat {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: all .3s;
    z-index: 100;
}

#race .candidat .name {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    width: 100px;
}

#race .candidat .name .nom {
    display: block;
    font-weight: 500;
}

#race .candidat .block {
    display: flex;
    align-items: center;
    background: #000;
    border-radius: 500px;
    padding: 5px;
}

#race .candidat .block img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

#race .candidat .pourcent {
    color: #f5f5f5;
    font-weight: 500;
    font-size: 15px;
    width: 50px;
    text-align: center;
}

#race #TimeInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12.5vh;
    border-top-left-radius: 7.5vh;
    border-top-right-radius: 7.5vh;
    background: #7f8d44;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom .3s;
}

#race.after-scrolling #TimeInfo {
    bottom: -13vh
}

#race #TimeInfo .slider {
    position: relative;
    background: #f5f5f5;
    height: 15px;
    width: 70%;
    margin-top: 17.5px;
    border-radius: 500px;
}

#race #TimeInfo .slider .progress {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #2e3845;
    height: 100%;
    width: 0%;
    border-radius: 500px;
    transition: all .1s;
}

#race #TimeInfo .slider .point {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2e3845;
    height: 30px;
    width: 30px;
    border-radius: 500px;
    border: 4px solid #242e3b;
    z-index: 999;
}

#race #TimeInfo .slider .point .date {
    position: absolute;
    margin-top: -55px;
    color: #f5f5f5;
    font-style: italic;
    width: 100vw;
    text-align: center;
}

#race #TimeInfo .slider img {
    position: absolute;
}

#race #TimeInfo .slider img.damier {
    height: 100%;
    top: 0;
    right: 15px;
}

#race #TimeInfo .slider img.drapeau {
    top: -30px;
    right: 0px;
    height: 30px;
    width: 20px;
    align-self: flex-end;
    justify-self: flex-end;
}


/* ---------- FOOTER ----------------- */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #899853;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 50px;
    padding-top: 50px;
}

footer p {
    text-align: center;
    width: 70%;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 50px;
}


/* ---------- POPUP ----------------- */

#creditsButton,
#fonctionnementButton {
    position: absolute;
    height: 40px;
    width: 40px;
    /* right: -4px; */
    right: 0;
    top: 10vh;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 2px solid #2e3845;
    z-index: 99;
}

#creditsButton {
    top: calc( 10vh + 40px + 15px);
}

#fonctionnementPOPUP,
#creditsPOPUP {
    position: absolute;
    background-color: #F5F5F5;
    border: 3px solid #2e3845;
    border-radius: 25px;
    text-align: center;
    width: 90%;
    padding: 25px;
    z-index: 999;
    left: 150vw;
    transition: left .3s;
    font-size: 20px;
}

#fonctionnementPOPUP.show,
#creditsPOPUP.show {
    left: 5%;
}

.afterFooter {
    padding: 25px;
    text-align: center;
    width: 90%;
    font-size: 20px;
}

.creditsTitle {
    font-family: "Goldman", cursive;
    color: #CF4B45;
    font-size: 25px;
}

.logoImages {
    width: 25%;
    height: 20%;
    padding: 10px 20px;
}

.coursesDiv {
    position: relative;
    padding-bottom: 5%;
}

.candidatsFonctionnementDiv {
    position: relative;
    padding-bottom: 5%;
}

a,
a:visited {
    color: #f5f5f5;
    font-weight: 500;
}

#fonctionnementPOPUP a,
#fonctionnementPOPUP a:visited,
#creditsPOPUP a,
#creditsPOPUP a:visited {
    color: black;
}


/* ---------- Important media queries for easy responsive content :-) ----------------- */


/* Can be adapted for other ratios that 9:16 or for horizontal content (ex: 16:9) */


/* This media query ensures that we allways will the width of the screen */


/* as long as the screen aspect ratio is below 9:16 */

@media screen and (max-aspect-ratio: 9/16) {
    #container,
    #race {
        width: 100vw;
        min-height: calc(100 * 16vw / 9);
    }
}


/* This media query ensures that we allways will the height of the screen */


/* as long as the screen aspect ratio is higher than 9:16 */

@media screen and (min-aspect-ratio: 9/16) {
    #Introduction video,
    #container,
    #race {
        min-height: 100vh;
        width: calc(100 * 9vh / 16);
        margin: 0 auto;
    }
}