* {
    box-sizing: border-box;
}

html, body {
    overscroll-behavior: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #303844;
    overflow: hidden;
}

header .forCars {
    position: relative;
    width: 90%;
    height: 70vh;
    margin-top: 25px;
}

header .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    color: black;
    width: 100%;
    height: 100%;
    height: 70vh;
    padding: 25px;
    border-radius: 10px;
    overflow-y: hidden;
}

header .main .logo {
    width: 80%;
}

header .car {
    position: absolute;
    height: 10vh;
    background-position: center center;
    max-width: 400px;
}

header .car-b {
    bottom: -5%;
    left: 40%;
}

header .car-r {
    bottom: -10%;
    left: -20%;
}

header .startTheRace {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 5vh;
}

header .startTheRace button {
    display: block;
    width: 80%;
    height: 10vh;
    margin-top: -1.5vh;
    border-radius: 500px;
    border: 0;
    background: red;
    z-index: 5;
    font-family: 'Goldman', cursive;
    color: white;
    font-size: 22px;
    font-weight: 500;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

header .startTheRace button:active {
    background: darkred;
}

header .startTheRace .damier {
    z-index: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    object-fit: cover;
}

.hidden {
    display: none;
}

.details {
    margin-top: 25px;
    width: 100%;
    /* background: red; */
}

.details .top {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.details .top button {
    border: none;
    background: transparent;
    border-radius: 100%;
}

.details .top button img {
    width: 35px;
    height: 35px;
}

.details .title {
    font-size: 25px;
    font-family: 'Goldman', cursive;
    font-weight: 400;
    padding: 15px 0;
}

.details .body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
    padding-bottom: 50px;
}

.details .body .candidat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: 16px;
    line-height: 14px;
    width: 90px;
    padding: 5px 0;
    cursor: pointer;
}

.details .body .candidat img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 555px;
    padding: 5px;
    background: white;
}

.details .body .candidat[data-selected="true"] img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 555px;
    padding: 5px;
    background: blue;
}

#container {
    display: block;
    position: relative;
    background-color: red;
}

#animation {
    position: relative;
}

#race {
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100%;
}

#race .candidat {
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: all .3s;
}

#race .candidat .name {
    text-align: center;
    font-size: 19px;
    font-style: italic;
    margin-right: 15px;
}

#race .candidat .name .firstName {
    font-weight: 200;
}

#race .candidat .name .lastName {
    font-weight: 400;
}

#race .candidat .block {
    display: flex;
    align-items: center;
    background: #000;
    border-radius: 500px;
    padding: 5px;
}

#race .candidat .block img {
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 100px;
}

#race .candidat .pourcent {
    color: #FFF;
    margin: 0 10px;
    font-weight: 500;
}

#info {
    z-index: 999;
    position: fixed;
    bottom: 0px;
    font-size: 50px;
    text-align: center;
    width: 100%;
}

#blocks>* {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    color: #00000022;
    width: 100%;
}

#blocks>*:nth-child(2n) {
    background-color: orange;
}

footer {
    padding: 50px 0;
    background-color: purple;
}

footer p {
    margin: 50px 0 0;
    text-align: center;
    font-size: 50px;
}

/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Can be adapted for other ratios that 9:16 or for horizontal content (ex: 16:9) */

/* This media query ensures that we allways will the width of the screen */
/* as long as the screen aspect ratio is below 9:16 */
@media screen and (max-aspect-ratio: 9/16) {
    #container {
        width: 100vw;
        min-height: calc(100 * 16vw / 9);
    }

}

/* This media query ensures that we allways will the height of the screen */
/* as long as the screen aspect ratio is higher than 9:16 */
@media screen and (min-aspect-ratio: 9/16) {
    #container {
        margin-left: calc((100vw - 100 * 9vh / 16) / 2);
        min-height: 100vh;
    }

    #container, #race {
        width: calc(100 * 9vh / 16);
    }

}