* {
    padding: 0;
    margin: 0;
    overflow:hidden ;
}

#container {
    height: 100%;
    background-color: #11151B;
}

.top {
    background-color: #AF3834;
}

.img_container {
    text-align: center;
}

.img_container img {
    width: 70%;
    height: auto;
    padding-top: 5vh;
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20vh;
}


.fini{
    font-size: 90%;
	font-weight: 800;
    font-family: 'Baloo Tamma 2';
	width: 90%;
    height: 1.2em;
    margin-bottom: 10px;
    color: #AF3834;
}


.label-fini {
    color: #C8A166;
    font-family: 'Baloo Tamma 2';
    font-size: 17%;
    width: 60%;
    margin-bottom: 20px;
    line-height: 1.3;
	font-weight: 800;
}

.bottom {
	margin-top: 17vh;
    display: flex;
    justify-content: center;
}

.bottom .goToQuestion {
    color: #C8A166;
    background-color: #10141A;
    border:  2px solid #C8A166;
    border-radius: 10px;
    width: 70%;
    right: 35%;
    cursor: pointer;
}

.bottom .goToQuestion:hover {
    color: black;
    background-color: #C8A166;
}

.bottom .goToQuestion p {
    font-family: 'Lineal', sans-serif;
    font-size: 200%;

    margin: 5%;
}

