.img_container {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.anjoute_start .animate__animated.animate__heartBeat {
	--animate-duration: 3.6s;
}
.anjoute_start {
	margin-top: 50px;
	font-size: 10px;
}

