#container {
	height: 100%;
	background-color: #11151B;
}

.top {
	background-color: #3BBF82;
	height: 9vh;
	text-align: center
}

.top h1 {
	color: #11151B;
	font-family: 'LinealMedium';
	font-weight: bold;
	font-style: normal;
	font-size: 5vh;
	padding-top: 2.4vh;
}

.mid {
	position: relative;
	text-align: center;
	margin-top: 10%;
}

.animation_bulle {
	position: absolute;
	right: 10%;
	width: 60%;
}

.animation_perso {
	margin-top: 25%;
	width: 100%;
}

.bottom {
	display: flex;
	justify-content: center;
}

.bottom .goToChoix {
	color: #C8A166;
    font-family: 'Baloo Tamma 2';
	font-weight: bold;
	right: 35%;
	font-size: 3vh;

	background-color: #10141A;
	padding: 0px 20px;
	border:  2px solid #C8A166;
}

.bottom .goToChoix:hover {
	color: black;
	background-color: #C8A166;
}