#container {
	height: 100%;
	background-color: #11151B;
}

.top {
	text-align: center;
}

.top img {
	width: 70%;
	height: auto;
	padding-top: 10%;
}

.mid {
	position: relative;
	text-align: center;
}

.animation_bulle {
	position: absolute;
	right: 10%;
	width: 60%;
}

.animation_perso {
	margin-top: 25%;
	width: 100%;
}

.bottom {
	display: flex;
	justify-content: center;
}

.bottom .goToChoix {
	color: #C8A166;
	background-color: #10141A;
	border:  2px solid #C8A166;
	border-radius: 10px;
	width: 35vh;
	right: 35%;
	cursor: pointer;
}

.bottom .goToChoix:hover {
	color: black;
	background-color: #C8A166;
}

.bottom .goToChoix p {
    font-family: 'Lineal', sans-serif;
	font-size: 3vh;
	margin: 1.5vh;
}