/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* that forces a 9:16 format (portrait) on all contents */


/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
}

body{
    background-color: black;
    color: white;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: "Outfit", sans-serif;
}

#container{
    position: relative; /* for absolute positionning of child elements*/
}

/* -------------- Fixed bar bug -------*/
html {
    height: -webkit-fill-available;
}
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    body {
        /* The hack for Safari */
        min-height: -webkit-fill-available;
    }
}

/* -------------- Loader --------------*/
#loader{
    z-index: 5;
    position:absolute;
}

#loader-img{
    top:40%;
    left:40%;
    position: absolute;
}

#loader-text{
    text-align: center;
    font-size: large;
    position: absolute;
    top:60%;
    width: 100%
}
/* -------------- End of Loader --------------*/

/* Swiper slider. Need to fill the 9:16 constrained container */
#mySwiper{
    width: 100%;
    height:100%;
    position: absolute;
}


/* white navigation bullets */
.swiper-pagination-bullet-active {
    background-color: white !important;
}

/* the slides and the loader should fill the whole 9:16 zone */
.swiper-wrapper section, #loader{
    background-color: white;
    width: 100%;
    height: 100%;
}

/* Pour que la vidéo remplisse son conteneur (elle sera un peu coupée si nécessaire...) */
.vjs-tech { object-fit: cover; }

/* Most of the elements in this demo are absolute positionned with percentages */
#first-slide header{
    text-align: center;
    width: 100%;
    top: 10%;
    position: absolute;
    font-size: 30%;
    z-index: 2;
}

#logo-lyse {
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#logo-playlysee{
    height: 30%;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 35%;
    object-fit: contain;
}

#second-slide{
    background: #ef7767;
}

#second-slide #text{
    display: flex;
    width: 70%;
    height: 15%;
    text-align: center; 
    color: black;
    position:absolute;
    top :40%;
    left:4%;
    padding: 5% 10%;
    border-radius: 25% / 40%; 
    background: #fff; 
    box-shadow: 7px 7px 25px 0 rgba(0,0,0,0.25);

}

#text p {
    align-self: center;
}

.rotateimg320 {
    -webkit-transform:rotate(320deg);
    -moz-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    transform: rotate(320deg);
}

.rotateimg20 {
    -webkit-transform:rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    }

#second-slide #choix{
    position:absolute;
    top :80%;
    left:5%;
    width:100%;
    height:9%;
}

#second-slide #play{
    width: 30%;
    height: 100%;
    box-shadow: 7px 7px 25px 0 rgba(0,0,0,0.25);
    font-weight: 700;
    text-align: center; 
    color: #000;
    border : none;
    border-radius: 80px;
    margin-right:10%;
}

#timer{
    font-family: 'Outfit', sans-serif;
    font-size: 60px; 
    font-weight: 900;
    margin-top:5%;
    text-align: center; 
    color: #fff;
}
h1{
    margin-top: 1em;
    font-size: large;
}

.menu {
    position: absolute;
    background-color: white;
    border-radius: 25% 25% 0 0;
    bottom: 0%;
    width: 100%;
    height: 10%;
    font-family: "Outfit", sans-serif;
}

.menu button{
    position : absolute;
    /*top : -15%;*/
    text-align : center;
    font-family: "Outfit", sans-serif;
    font-size:17%;
}
.menu .menu-candidat {
    height : 60px;
    width :30%;
    margin-left : 5%;
    box-shadow: 7px 7px 25px 0 rgba(0, 0, 0, 0);
    background : none;
    border: none;
}

.menu .menu-jeu {
    height : 60px;
    width :30%;
    margin-left : 35%;
    box-shadow: 7px 7px 25px 0 rgba(0, 0, 0, 0);
    background : none;
    border: none;
}

.menu .menu-top {
    height : 60px;
    width :25%;
    margin-left : 65%;
    box-shadow: 7px 7px 25px 0 rgba(0, 0, 0, 0);
    background : none;
    border: none;
}

h2{
    font-family: 'Outfit', sans-serif;
    font-size: 60%;
    font-weight: 900; 
    text-align: center; 
    color: white;
    margin-top: 2%;
}

#jeu {
    font-size: 20%;
}

.container-btn-end-game {
    top: 78%;
    position: absolute;
    font-family: Outfit, sans-serif;
    font-size: 90%;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.btn-end-game {
    border-radius: 80px;
    box-shadow: rgba(0, 0, 0, 0.25) 7px 7px 25px 0;
    border: none;
    padding: 5%;
    justify-content: space-around;
}

div{
    /*font-size: 1em;*/
    color : black;
}

#choix {
    display: flex;
    justify-content: space-around;
    margin-top: -15%;
}

#choix button{
    font-family: "Outfit", sans-serif;
    font-weight:500;
    font-size:100%;
}

#third-slide{
    background: #f1de68;
}

#candidats{
    width:100%;
    height:80%;
    margin-top: 0;
    margin-left: 0;
}


.button-candidat{
    width: 30%;
    /*height: 40px;*/
    height:8%;
    padding: 0;
    border: none;
    background: none;
    margin-bottom: 5%;
    margin-top:3%;
}

.profile2{
    max-width: 100%;
    max-height: 180%;
    border-radius: 50%;
    border : 3px solid white;
}

.profile{
    border-radius: 50%;
    margin-left: 38%;
    border : 3px solid white;
}

.nom-candidat{
    text-align: center;
    font-size: 30%;
}

table{
    font-size: 20%;
    margin: auto;
}

td{
    margin-left:1em;
}

th, td {
    padding: 5px;
}

#tweets{
    padding:1px;
}


.box-tweet {
    background: white;
    height: 35vh;
    width: 80%;
    border-radius: 70px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    overflow: visible !important;
    font-size: 18%;
    position : absolute;
    top:40%;
    left : 10%;
}

.box-tweet-top {
    background: white;
    height: 35vh;
    width: 80%;
    border-radius: 70px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    overflow: visible !important;
    box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.25);
}


.candidattweet {
    overflow: hidden;
}


.candidattweet .tweet p{
    padding: 5%;
    margin-left : 2%;
    height : 30vh;
    width:80%;
    text-align: center;

}

.candidattweet .swiper-pagination{
    margin-top : 1vh;
}

#fourth-slide{
    background-color: #fff;
    font-size: 18%;
}

#top-select{
    background-color: #fff;
    border-radius: 10% / 50%;
    box-shadow: 7px 7px 25px 0 rgba(0,0,0,0.25);
    text-align: center;
    margin: auto;
    display: flex;
    padding: 0.5em;
}

#tweet-theme {
    padding-left:4%;
}

#tweet-theme p{
    width: 90%;
    height: 15%;
    text-align: center; 
    color: black;
    position:relative;
    padding-top:5%;
    padding-bottom:5%;
    padding-right:2%;
    padding-left:2%;
    border-radius: 25% / 40%; 
    background: #fff; 
    box-shadow: 7px 7px 25px 0 rgba(0,0,0,0.25);
    margin: auto;
    margin-top: 0.5em;
}

.swiper .toptweet {
    border-radius: 80px;
}

.swiper .toptweet #tweetname{
    padding: 5%;
    margin-left : 2%;
    height : 1vh;
    text-align: center;

}

.swiper .toptweet #tweetcontent{
    padding: 5%;
    margin-left : 2%;
    height : 30vh;
    width:80%;
    text-align: center;

}

#theme-pic{
    justify-content: center;
    display: flex;
}

img#theme {
    height: 100px;
    border-radius: 100% / 100%; 
    background: #fff; 
    box-shadow: 7px 7px 25px 0 rgba(0,0,0,0.25);
    margin-top: 10px;

}

#last-slide{
    font-size: 100%;
    background: #EF7767;
}

/* Footer of last slide is at the bottom and content is centered */
#first-slide footer{
    bottom: 5%;
    position: absolute;
    font-size: 20%;
    text-align: center;
    padding: 0 1em;
}


/* ---------- Positionning of logos on the last slide ----------------- */
/* here we have a contraint on the height of the logos (not the width) */
/* so we cannot use % and use em (which are proportinal to the size of the */
/* slide because of body's font size rule at the beginning of this CSS */
#bandeau {
    padding-top: 3%;
    width:100%;
    height:87%;
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 18%;
}

#bandeau a{
    text-decoration:none;
    color: black;
}

#bandeau div{
    padding-left : 1%;
    padding-right : 1%;
    padding-bottom:2%;
    text-align : justify;
    width:80%;
    margin-left:9%;
    margin-top:3%;
    font-size:80%;
}

#bandeau li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
}

#bandeau img{
    height: 2.5em;
}

#bandeau #hyblab{
    margin: 1em auto;
    height: 2em;
    display: block;
}

#bandeau #cc, #bandeau #opensource{
    height: 2.5em;
}

#bandeau .stacked{
    display:block;
}

#bandeau .inline{
    display:inline;
}



#bandeau ul{
    text-align: center;
    padding: 0 0;
}

#bandeau .institutionnel{
    height: 2em;
}

#bandeau .porteur{
    height: 2em;
    margin-top:1em;
}




/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Can be adapted for other ratios that 9:16 or for horizontal content (ex: 16:9) */

/* This media query ensures that we allways will the width of the screen */
/* as long as the screen aspect ratio is below 9:16 */
@media screen and (max-aspect-ratio: 9/16){
    #container{
        margin-bottom: calc(100vh - 100 * 16vw / 9);
        width: 100vw;
        height: calc(100 * 16vw / 9);
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display width */
    body{
        font-size: calc(12vw*16/9);
    }
}

/*!* This media query ensures that we allways will the height of the screen *!*/
/*!* as long as the screen aspect ratio is higher than 9:16 *!*/
@media screen and (min-aspect-ratio: 9/16){
    #container{
        margin-left: calc((100vw - 100 * 9vh / 16) / 2);
        width: calc(100 * 9vh / 16);
        height: 100vh;
    }

/*    !* We set a default font size here. It will be the base for all other font sizes *!*/
/*    !* Here the font size is proportional to display height *!*/
    body{
        font-size: 12vh;
    }
}


/*@media screen and (min-device-width: 600px){*/
/*    #container{*/
/*        width: 100vw;*/
/*        height: 100vh;*/
/*    }*/

/*    !* We set a default font size here. It will be the base for all other font sizes *!*/
/*    !* Here the font size is proportional to display width *!*/
/*    body{*/
/*        font-size: calc(12vw*16/9);*/
/*    }*/
/*}*/


/*Page de login*/
.body-login {
    background-color: white;
    height: 100%;
    text-align: center;
}

#login{
    height: 100%;
    align-content: center;
}

#login .card{
    margin-top: auto;
    margin-bottom: auto;
}

#login .checkbox {
    margin-right : -0.5em;
}

#login .card-footer a {
    margin-left : 1em;
}

#login .card-footer a hover {
    margin-left: 1em;
    color: #032e5d;
}

