<div class="folder-container">
    <div class="folder-header">
        <div class="folder-header-left">
        </div>
        <div class="folder-header-center">
            <h1>Absention</h1>
        </div>
        <div class="folder-header-right">
        </div>
    </div>
    <div class="folder-numbers">
        <div class="folder-numbers-number">
            <%= votingHab %>
        </div>
        <div class="folder-numbers-hab">
            hab
        </div>
    </div>
    <div class="folder-numbers-percent">
        <div>
            SOIT
        </div>
        <div>
            35 %
        </div>
    </div>
    <hr class="folder-separator">
    <div class="folder-numbers-percent">
        <div>
            MOYENNE
        </div>
        <div>
            30 %
        </div>
    </div>
    <div class="folder-resume">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor tortor nec nisi maximus vulputate. Vestibulum
        semper semper euismod. Aliquam erat volutpat. Nunc vel bibendum ante. Integer dictum ligula lacus, vitae molestie odio
        imperdiet in. Cras eget commodo mauris. Aliquam ligula lectus
    </div>
    <div class="folder-message-line">
        <img src="img/message_line.svg" />
    </div>
    <div>
        data
    </div>
    <div>
        <h1>Solutions</h1>
    </div>
    <div class="folder-links">
        <div class="folder-link">
            <div class="text-color-blue">
                lien cool
            </div>
            <div class="text-color-red">
                http://www.example
            </div>
        </div>
        <div class="folder-link">
            <div class="text-color-blue">
                lien cool
            </div>
            <div class="text-color-red">
                http://www.example
            </div>
        </div>
    </div>
</div>
