<header>
    <div id="flex-container">
        <div id="date" class="flex-item">
            12:00
        </div>
        <div class="flex-item">
            <div class="notif_img"> 
                <img src="img/message.svg" height="18px">
                <img src="img/telechargement.svg" height="18px">
            </div>
        </div>
        <div class="flex-item">
            <div class="notif_img"> 
                <img src="img/reseaux.svg" height="18px">
                <img src="img/batterie.svg" height="18px">
            </div>
        </div>
    </div>
</header>

<body>
    <section id="screen">
    </section>
</body>