<header>

    <p class="header-left" id="header-date">
        12:00
    </p>
    <div class="header-middle">
        <img src="img/message.svg" height="18px">
        <img src="img/telechargement.svg" height="18px">
    </div>
    <div class="header-right">
        <img src="img/reseaux.svg" height="18px">
        <img src="img/batterie.svg" height="18px">
    </div>

</header>

<body>
    <section id="screen">
    </section>
</body>