<header>
    <p class="header-left" id="header-date">
        12:00
    </p>
    <div class="header-middle">
        <div class="hd-size-middle">
            <img src="img/message.svg" class="hd-msg">
            <img src="img/telechargement.svg" class="hd-tel">
        </div>

    </div>
    <div class="header-right">
        
        <div class="hd-size-right">
            <img src="img/reseaux.svg" class="hd-res">
            <img src="img/batterie.svg" class="hd-bat">
        </div>

    </div>

</header>

<body>
    <section id="screen">
    </section>
</body>