<div class="pv-header">
    <div class="pv-bg-blue">
    </div>
    <div class="pv-hd-center"></div>
    <div class="pv-bg-red">
    </div>
</div>
<div class="pv-container">
    <div class="pv-area">
        <div class="pv-header-ville">
            <div class="pv-border-red">
                <img src="img/geolocalisation.svg" class="pv-geo" />
            </div>
            <div class="pv-nom-ville">
                <p class="pv-p-nom-ville">
                    <%= nom %>
                </p>
            </div>
        </div>
    </div>
    <div class="pv-habitants">
        <div class="pv-habitants-nombre">
            <%= population %>
        </div>
        <div class="pv-habitants-hab">
            hab
        </div>
    </div>
    <!-- <div class="pv-superficie">
        <div class="pv-superficie-superficie">
            <p>superficie</p>
        </div>
        <div class="pv-superficie-nombre">
        </div>
    </div> -->
    <div class="pv-graphique">
        <canvas height="9.5" width="10" id="barage"></canvas>
    </div>
    <div class="pv-graphique">
        <canvas height="9.5" width="10" id="metier"></canvas>
    </div>
    <div class="pv-footer">
        <button class="pv-suite">
            <div class="pv-text-suite">
                <p>
                    Suite
                </p>
            </div>
            <!-- <div class="pv-div-fleche"> -->
            <img src="img/fleche-droite.svg" class="pv-fleche" />
            <!-- </div> -->
        </button>
    </div>
</div>