<% if(quiz){%>
<div id="quizSection">
    <div id="hearts">
        <img src="img/coeur-petit-plein.svg" height="18px">
        <img src="img/coeur-petit-plein.svg" height="18px">
        <img src="img/coeur-petit-plein.svg" height="18px">
    </div>
    <div id="question">
        <%= quiz.question %>
    </div>

    <div class="answer">
        <% for(var i = 0; i < quiz.answer.length; i++) {%>
        <input type="button" value="<%= quiz.answer[i] %>">
        <% } %>
    </div>

    <input type="button" value="Valider">
</div>
<% } %>