<header>
    <div id="flex-container">
        <div id="date" class="flex-item">
            12:00
        </div>
        <div class="flex-item">2</div>
        <div class="flex-item">3</div>
    </div>
</header>

<body>
    <section class="screen">
        <div class="message">

    </section>
    </div>
</body>