<div id="sms_tread">
<% for(var i = 0; i < messages.length; i++) {%>
<div class="sms">
    <p><%= messages[i].sender %></p>
    <p><%= messages[i].message %></p>
    <br>
</div>
<% } %>
</div>