<div class="start">
    <div class="start-flag">
        <div class="start-blue"></div>
        <div class="start-white"></div>
        <div class="start-red"></div>
    </div>
    <div class="start-content">
        <img src="img/logo.svg" alt="logo 'Pour cent'" class="start-content-logo">
        <div class="start-content-sms" id="start-content-sms">
            <div class="start-content-sms-title">
                SMS
            </div>
            <div class="start-content-sms-text">
                Nouveaux messages
            </div>
            <button class="start-content-sms-btn" id="open-button">
                Toucher pour ouvrir
            </button>

        </div>
    </div>
</div>
</div>