<div class ="ts-dossier">
  <div class= "ts-finaux">
    Finaux T2
  </div>
  <div class="ts-none">
  </div>
</div>
<div class="ts-cover"></div>
<div class="ts-screen">
  <div class ="ts-topsecret">
    <div class="ts-p-topsecret">TOP SECRET</div>
  </div>
  <div class ="ts-code-acces">
    <p>Insérez le code d'accès :</p>
  </div>
  <form name="sampleform" class ="ts-inputs">
    <input type="text" class="ts-input" id="ts-first" name="first" maxlength="1" name="fn" size="1" onKeyup="autotab(this, document.sampleform.second)">
    <input type="text" class="ts-input" id="ts-second" name="second" maxlength="1" name="sn" size="1" onKeyup="autotab(this, document.sampleform.third)">
    <input type="text" class="ts-input" id="ts-third" name="third" maxlength="1" name="tn" size="1" onKeyup="autotab(this, document.sampleform.fourth)">
    <input type="text" class="ts-input" id="ts-fourth" name="fourth" maxlength="1" name="fon" size="1">
  </form>
  <div class ="ts-obtain-code">
    <p class="ts-link"><link href="" rel="stylesheet"> Obtenir le code d'accès </p>
  </div>
  <div class="ts-footer">
    <button class="ts-footer-button">
      <img src="img/fleche-droite.svg" class="ts-fleche"/>
    </button>
  </div>

</div>