*{
    padding:0;
    margin:0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/*--------------------FORMAT TELEPHONE---------------------------*/
/* Can be adapted for other ratios that 9:16 or for horizontal content (ex: 16:9) */

/* This media query ensures that we allways will the width of the screen */
/* as long as the screen aspect ratio is below 9:16 */
@media screen and (max-aspect-ratio: 9/16){
    #container{
        margin-top: calc((100vh - 100 * 16vw / 9) / 2);
        width: 100vw;
        height:calc(100 * 16vw / 9);
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display width */
    body{
        font-size: calc(3vw*16/9);
    }
}

/* This media query ensures that we allways will the height of the screen */
/* as long as the screen aspect ratio is higher than 9:16 */
@media screen and (min-aspect-ratio: 9/16){
    #container{
        margin-left: calc((100vw - 100 * 9vh / 16) / 2);
        width: calc(100 * 9vh / 16);
        height:100vh;
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display height */
    body{
        font-size: 3vh;
    }
}

/*Début*/
#container{
    background-color: white;
    position: absolute;
}

/*--------------Section dialogue----------------*/
#Dialogue{
    top:0%;
    opacity: 0;
    /*background-image: url("../img/a889d43ee7cf0837f085391e97e8ffb6.jpg");*/
   /* background-image: url("../img/Skatepark.svg");*/
    background-repeat: no-repeat;   
    background-size: 300%;
    width: calc(100 * 9vh / 16);
    height: 100vh; /*100vh*/
    position: fixed;
    z-index: 3;
    overflow: hidden;
}

/*header*/
#Dialogue header{
    height: 10vh;
    margin: auto;
    padding: 2%;
}
.circle p{
    margin: auto; /* Important */
    text-align: center;
}
.circle {
    margin: auto;
    display:inline-flex;
    width: 5vh;
    height: 5vh;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #0600FF;
    font-weight:bold;
    font-size: 60%;
  
  }
  #cercle1{
      opacity: 1;
  }
  #cercle2{
    opacity: 0.3;
}
#cercle3{
    opacity: 0.3;
}
#cercle4{
    opacity: 0.3;
}
#cercle5{
    opacity: 0.3;
}
 #carnet{
     position: absolute;
     width: 5vh;
     height: auto;
     right: 3%;

     display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
 }

 /*dialogue*/
#personnage1{

    /*Charlie*/
    opacity: 1;

   /* background-color: chartreuse;*/
    /* background-image: url("../img/Charlie.svg");
    background-repeat: no-repeat;   
    background-size: contain; */

    position:absolute;
    width: 50%;
    height: 50vh; 
    left:9%;
    top:20.8vh;
    z-index: 2;

}
#personnage2{
    /*Exemple jeune*/
    opacity: 1;

    position:absolute;
   /* background-color: pink;*/
    /* background-image: url("../img/Jeune.svg");
    background-position: 100% 0%;
    background-repeat: no-repeat;   
    background-size: contain; */

    width: 50%;
    height: 45vh; 
    right:9%;
    z-index: 4;

    top:14vh; /*à changer à chaque perso*/

}
#textZone{
position: absolute;
    background-color: white;
    border : 1vh solid #0600FF;  
    border-radius: 5%;
    width: 85%;
    display: flex;

    height: calc(100vh/2.3);
    top:69.6vh;/*75vh*/
    opacity: 1;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 3;
    
}

#Suite{
    opacity: 1;

position: absolute;
display: flex;

vertical-align: center; 
    height: 5vh;
    bottom: 5%;
    left: 40%;
    width: 10vh;

    z-index: 3;
 
}
#textDialogue{
    position:absolute;
    display: flex;
    top:50%;
    background-color: #0600FF;
    border-radius: 6%;
    width: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    height: 50%;
    padding: 3%;
    
}
#cercle{
    position:absolute;
    top:3%;
    left:15%;

}
.boxnom{
    position:absolute;

        background-color: #E66E78;
        
        border-radius: 60px / 50px;
    left: 30%;
    top:3%;
    height: 5vh;
    width: 57%;
}
.nom{
    margin-top: 2%;
     text-align: center;
    
    

}
/*Quiz*/
#QuizZone{
    position:absolute;
    background-color: #E66E78;
    width: 100%;
    height: calc(100vh/4);
    top:75vh;/*75vh*/
    opacity: 0;
}
#QuizZone button{
    display: flex;
    height: 20%;
    width: 100%;
    font-size: large;
}

/*--------------Section transition--------------*/
#Transition{
    position:fixed;
    opacity: 1;
    background-color: white;
    width: calc(100 * 9vh / 16);
    height: 100vh; /*100vh*/
    top:0%;

}

#animation{
    position: absolute;
    background-color:darkgreen;
    width: 100%;
    height: 40vh; /*auto*/
    top:30vh;
}


lottie-player{
    position:absolute;
    width: 100%;
}

.player {
    opacity: 0;
}