*{
    padding:0;
    margin:0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/*--------------------FORMAT TELEPHONE---------------------------*/
/* Can be adapted for other ratios that 9:16 or for horizontal content (ex: 16:9) */

/* This media query ensures that we allways will the width of the screen */
/* as long as the screen aspect ratio is below 9:16 */
@media screen and (max-aspect-ratio: 9/16){
    #container{
        margin-top: calc((100vh - 100 * 16vw / 9) / 2);
        width: 100vw;
        height:5000px;/* calc(100 * 16vw / 9);*/
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display width */
    body{
        font-size: calc(3vw*16/9);
    }
}

/* This media query ensures that we allways will the height of the screen */
/* as long as the screen aspect ratio is higher than 9:16 */
@media screen and (min-aspect-ratio: 9/16){
    #container{
        margin-left: calc((100vw - 100 * 9vh / 16) / 2);
        width: calc(100 * 9vh / 16);
        height: 5000px;/*100vh*/
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display height */
    body{
        font-size: 3vh;
    }
}

/*Début*/
#container{
    background-color: white;

}

/*Section dialogue*/
#Dialogue{
    top:0%;
    opacity: 1;
    /*background-image: url("../img/a889d43ee7cf0837f085391e97e8ffb6.jpg");*/
   /* background-image: url("../img/Skatepark.svg");*/
    background-repeat: no-repeat;   
    background-size: 300%;
    width: calc(100 * 9vh / 16);
    height: 100vh; /*100vh*/
    position: fixed;
    z-index: 1;
}
#personnage1{

    /*Charlie*/
    opacity: 1;

   /* background-color: chartreuse;*/
    background-image: url("../img/Charlie.svg");
    background-repeat: no-repeat;   
    background-size: contain;

    position:absolute;
    width: 60%;
    height: 50vh; 
    left:0px;
    top:37vh;
    z-index: 1;

}
#personnage2{
    /*Exemple jeune*/
    opacity: 1;

    position:absolute;
   /* background-color: pink;*/
    background-image: url("../img/Jeune.svg");
    background-position: 100% 0%;
    background-repeat: no-repeat;   
    background-size: contain;
    z-index: 1;

    width: 60%;
    height: 50vh; 
    right:0px;
    top:31.5vh; /*à changer à chaque perso*/

}
#textZone{

    position:absolute;
    background-color: darkgoldenrod;
    width: 100%;
    height: calc(100vh/4);
    top:68vh;/*75vh*/
    opacity: 1;
}
#Suite{
    position:absolute;
    background-color: red;
    bottom:17px;
    right: 0px;
    z-index: 1;
}
#textDialogue{
    position:absolute;
    top:20%;

}

.nom{
    position:absolute;
    background-color: green;
    top:0px;
    left: 0px;
    padding: 2px;
}
/*Quiz*/
#QuizZone{
    position:absolute;
    background-color: red;
    width: 100%;
    height: calc(100vh/4);
    top:75vh;/*75vh*/
    opacity: 0;
}
#QuizZone button{
    display: flex;
    height: 20%;
    width: 100%;
    font-size: large;
}

/*Section transition*/
#Transition{
    position:fixed;
    opacity: 0;
    background-color: darkgoldenrod;
    width: calc(100 * 9vh / 16);
    height: 100vh; /*100vh*/
    top:0%;

}

#animation{
    position: absolute;
    background-color:darkgreen;
    width: 100%;
    height: 40vh; /*auto*/
    top:30vh;
}

