<div class="file-explorer">
    <% filesData.forEach(element => { %>

        <div id="<%= element.tag %>" class="file-explorer-item">


            <div class="file-explorer-item-file">
                <p class="file-explorer-item-file-title">
                    <%= element.title %>
                </p>
            </div>
            <div class="file-explorer-item-file-center">
                <% if (element.progress !== 100) { %>

                    <div class="file-explorer-item-file-progress">
                        <div class="file-explorer-item-file-progress-bar"></div>
                    </div>
                    <p class="file-explorer-item-file-progress-text">chargement...</p>

                    <% } else { %>

                        <button class="file-explorer-item-file-btn">
                            Ouvrir
                        </button>
                        <% } %>
            </div>
        </div>
        <% }) %>


</div>