/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* that forces a 9:16 format (portrait) on all contents */

html {
    /*overflow: hidden;*/
}

/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
    font-family: "Jost";
}

body{
    background-color: black;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container{
    position: relative; /* for absolute positionning of child elements*/
}

/* -------------- Loader --------------*/
#loader{
    z-index: 2;
    position:absolute;
}

#loader-img{
    top:40%;
    left:40%;
    position: absolute;
}

#loader-text{
    text-align: center;
    font-size: 25%;
    position: absolute;
    top:60%;
    width: 100%
}
/* -------------- End of Loader --------------*/

/* Swiper slider. Need to fill the 9:16 constrained container */
#mySwiper{
    width: 100%;
    height:100%;
    position: absolute;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
    background-color: white !important;
}

/* the slides and the loader should fill the whole 9:16 zone */
.swiper-wrapper section, #loader{
    background-color: dodgerblue;
    width: 100%;
    height: 100%;
}

/* Pour que la vidéo remplisse son conteneur (elle sera un peu coupée si nécessaire...) */
.vjs-tech { object-fit: cover; }

/* Most of the elements in this demo are absolute positionned with percentages */
#first-slide header{
    text-align: center;
    width: 100%;
    top: 10%;
    position: absolute;
    font-size: 30%;
    z-index: 2;
}

#logo-hyblab{
    text-align: center;
    width: 50%;
    left: 50%;
    top: 50%;
    margin-left:-25%;
    margin-top:calc(-7.5% * 9 / 16 ); /* margins are relative to the element width... :-( */
    position: absolute;
    font-size: 50%;
    z-index: 2;
    cursor: pointer;
}

/* Last slide image is centered */
#img-fini{
    width: 50%;
    left: 50%;
    top: 40%;
    position: absolute;
    margin-left:-25%;
    margin-top:calc(-25% * 9 / 16 ); /* margins are relative to the element width... :-( */
}

/* Footer of last slide is at the bottom and content is centered */
#first-slide footer{
    bottom: 5%;
    position: absolute;
    font-size: 20%;
    text-align: center;
    padding: 0 1em;
}


/* ---------- Positionning of logos on the last slide ----------------- */
/* here we have a contraint on the height of the logos (not the width) */
/* so we cannot use % and use em (which are proportinal to the size of the */
/* slide because of body's font size rule at the beginning of this CSS */
#bandeau {
    padding-top: 3%;
    width:100%;
    height:25%;
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 20%;
}

#bandeau li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
}

#bandeau img{
    height: 1.5em;
}

#bandeau #hyblab{
    margin: 1em auto;
    height: 3em;
    display: block;
}

#bandeau #cc, #bandeau #opensource
{
    height: 1em;
}

#bandeau .stacked{
    display:block;
}

#bandeau ul{
    text-align: center;
    padding: 0 0;
}

#bandeau .institutionnel
{
    height: 2em;
}

#root {
    background-color: white;
}

.button {
    color:white;
    background-color: black;
    border: solid black;
    border-radius: 36px;
    font-size: 4vh;
    font-family: 'Spicy Rice', Arial, Helvetica, sans-serif;
    height: 8vh;
    width: 30vh;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.button:active {
    color:black;
    background-color: white;
}

.button_white {
    color: black;
    background-color: white;
    border: solid white;
}

.button_white:active {
    color:white;
    background-color: black;
}

.button_disabled {
    opacity: 20%;
    pointer-events: none;
}

.button_disabled:hover {
    cursor: not-allowed;
}

.learn_more {
    color:black;
    background-color: white;
    border: solid black;
    border-radius: 36px;
    font-size: 2.5vh;
    font-weight: bold;
    padding: 1vh 1vh 1vh 3vh;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
}

.learn_more:active {
    color: white;
    background-color: black;
}

.learn_more:active img {
    filter: invert(100%);
}

.learn_more_img {
    height: 3vh;
    padding-left: 2vh;
    vertical-align: middle;
}

@font-face {
    font-family: "Spicy Rice";
    src: url("../font/SpicyRice-Regular.ttf");
}

@font-face {
    font-family: "Jost";
    src: url("../font/Jost.ttf");
}

#root {
    background-color: white;
}

/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Can be adapted for other ratios that 9:16 or for horizontal content (ex: 16:9) */

/* This media query ensures that we allways will the width of the screen */
/* as long as the screen aspect ratio is below 9:16 */
@media screen and (max-aspect-ratio: 9/16){
    #root{
        /*margin-top: calc((100vh - 100 * 16vw / 9) / 2);*/
        width: 100vw;
        height: 100vh;
        /*height: calc(100 * 16vw / 9);*/
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display width */
    /*body{
        background-color: white;
    }*/
}

/* This media query ensures that we allways will the height of the screen */
/* as long as the screen aspect ratio is higher than 9:16 */
@media screen and (min-aspect-ratio: 9/16){
    #root{
        margin-left: calc((100vw - 100 * 9vh / 16) / 2);
        width: calc(100 * 9vh / 16);
        height: 100vh;
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display height */
    /*body{
        font-size: 12vh;
    }*/
}

.header {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}

.header_logo {
    margin-top: 30px;
    width: 25%;
}

.header_frow {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header_step {
    font-family: 'Spicy Rice';
    font-size: 2.4vh;
}

.stepBar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.stepBar_bar {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
}

.stepBins_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stepBin {
    height: 15px;
    border: 2px black solid;
    border-radius: 8px;
    background-color: white;
    z-index: 10;
    padding: 2px;
    box-sizing: border-box;
}

.stepBin_completed{
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 8px;
}

.startingPage {
    background-color: black;
}

.startingPage_firstSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.startingPage_swipeToStart {
    position: absolute;
    bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startingPage_bulles {
    width: 4vh;
    margin-top: 3vh;
}

.startingPage_swipeToStart > span {
    color: white;
    font-size: 16px;
}

.startingPage_logo {
    width: 65%;
}

.startingPage_secondSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.startingPage_persos {
    position: absolute;
    bottom: 10px;
    width: 90%;
}

.startingPage_card {
    background-color: white;
    width: 77%;
    color: black;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 7%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 4px black,
                6px 6px white,
                10px 10px black, 
                12px 12px white;
}

.startingPage_card > * {
    text-align: center;
}

.startingPage_card > h1 {
    font-family: "Spicy Rice";
    font-size: 25px;
}

.startingPage_card > p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
}

.startingPage_card > span {
    margin-top: 15px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
}

.startingPage_button {
    font-size: 2.3vh;
}

.endingPage {
    background-color: black;
}

.endingPage_firstSlide, .endingPage_secondSlide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endingPage_firstSlide > img {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 7.6vh;
}

.endingPage_card {
    background-color: white;
    width: 77%;
    color: black;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 7%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 4px 4px black,
                6px 6px white,
                10px 10px black, 
                12px 12px white;
}

.endingPage_card > .endingPage_card_title {
    font-family: "Spicy Rice";
    font-size: 5.3vh;
}

.endingPage_card > p {
    font-weight: 300;
    margin-top: 2vh;
}

.endingPage_eyes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

.endingPage_eyes > img {
    filter: invert(100%);
}

.endingPage_secondSlide > .endingPage_card img {
    margin-top: 2vh;
}

.endingPage_secondSlide > .endingPage_card > div {
    display: flex;
    align-items: center;
}

.endingPage_secondSlide > .endingPage_card > div > img:first-child {
    margin-right: 20px;
}

.endingPage_card > .hyblab {
    height: 3.95vh;
}

.endingPage_card > .nr {
    height: 5.13vh;
}

.endingPage_card > div > .polytech {
    height: 8.81vh;
}

.endingPage_card > div > .agr {
    height: 8.81vh;
}

.endingPage_card > div > .nu {
    height: 4vh;
}

.endingPage_card > div > .oml {
    height: 5.13vh;
}

.endingPage_card > .NM {
    height: 4vh;
}

.endingPage_card > div > .CC {
    height: 4vh;
}

.endingPage_card > div > .OS {
    height: 5.5vh;
}

.endingPage_thirdSlide {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.endingPage_members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
    width: 90%;
}

.endingPage_member {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 50%;
    margin-top: 4vh;
}

.endingPage_member:last-child {
    width: 100%;
}

.endingPage_member_name {
    font-family: "Spicy Rice";
    font-size: 2.3vh;
}

.endingPage_member_school {
    font-size: 2vh;
    font-weight: 300;
}

.endingPage_button {
    font-size: 2.1vh;
    height: 5.1vh;
    margin-top: 8.4vh;
}

.endingPage_persos {
    position: absolute;
    bottom: 5vh;
}

.mainStepPage {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainStepPage_title {
    font-family: "Spicy Rice";
    font-size: 9vh;
    margin-top: 5vh;
}

.mainStepPage_subtitle {
    font-size: 2.6vh;
    max-width: 52%;
    font-weight: 300;
}

.mainStepPage_button {
    position: absolute;
    top: 45.7vh;
}

#root {
    background-color: white;
}

.endGameCard_container {
    text-align: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.endGameCard {
    color:white;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 20% 10% 20% 10%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 3px 3px white,
                5px 5px black,
                8px 8px white, 
                10px 10px black;
}

.endGameCard_title {
    font-family: 'Spicy Rice';
    font-weight: bold;
    font-size: 40%;
    padding: 20px;
    font-size: 5.26vh;
}

.endGameCard_text {
    font-family: 'Jost';
    font-size: 20%;
    padding: 20px;
    font-size: 2.1vh;
    font-weight: 300;
}

.endGameCard_button {
    margin-bottom: 5vh;
}

.endGameCard_image {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 50%;
    padding: 20px;
}
/*
.questionCard-container {
    background-color: white;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionCard {
    box-sizing: border-box;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 5% auto 5%;
}

.questionCard-questionTitle {
    font-family: 'Spicy Rice';
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 10px;
}

.questionCard-questionBlock, .questionCard-nextStep {
    font-family: 'Jost';
    font-size: 16px;
}

.questionCard-questionBlock{
    box-sizing: border-box;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.questionCard-question {
    font-weight: bold;
}*/

.questionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5vh;
}

.questionCard_questionTitle {
    font-size: 4.8vh;
    font-family: "Spicy Rice";
    margin-bottom: 4vh;
}

.questionCard > .questionCard_questionTitle {
    font-size: 4vh;
}

.questionCard_questionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 42vh;
    overflow: auto;
    scrollbar-color: #c4c4c4 white;
    scrollbar-width: thin;
}

.questionCard_question, .questionCard_answer {
    font-size: 2.5vh;
    line-height: 3vh;
    width: 80%;
}

.questionCard_question {
    font-weight: 700;
    margin-bottom: 2vh;
}

.questionCard_answer {
    font-weight: 300;
    box-sizing: content-box;
}

.questionCard_questionBlock::-webkit-scrollbar {
    width: 9px;
}

.questionCard_questionBlock::-webkit-scrollbar-track {
    background-color: white;
}

.questionCard_questionBlock::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 9px;
    border: transparent;
}

.questionCard_nextStep {
    position: absolute;
    bottom: 4vh;
}

.questionCard_learnMore {
    margin-top: 4vh;
    font-size: 2.2vh;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.questionCard_nextStep > p {
    font-weight: 300;
    font-size: 2.1vh;
    margin-bottom: 1vh;
}

.profilCard {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-size: 2.1vh;
    font-family: 'Jost';
    width: 100%;
    height: 100%;
    position: relative;
}

.profilCard_img {
    position: absolute;
    height: 100%;
    z-index: 1;
}   

.profilCard_information {
    position: absolute;
    top: 35%;
    left: 25%;
    z-index: 2;
}

.profilCard_civility {
    margin-bottom: 20%;
}

.profilCard_div_text {
    display: flex;
    margin-bottom: 2%;
}

.profilCard_label {
    font-weight: bold;
}

.steps {
    position: relative;
    width: 100%;
    height: 100%;
}

.steps_bg {
    position: absolute;
    width: 93%;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.tamponButton {
    cursor: pointer;
}

.tamponButton > img {
    height: 5.25vh;
}

.step1game {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.step1Game_profils {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
}

.step1Game_profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.step1game_tampon {
    position: absolute;
    z-index: 2;
}

.step1game_tampon_valid {
    right: 10%;
    top: -2.5%;
    transform: rotate(20deg);
}

.step1game_tampon_cancel {
    right:12%;
}

.step1Game_pannelError {
    position: absolute;
    z-index: 2;
    right: 25%;
    bottom: 25%;
}

.step1game_tampon_button {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-top: 5%;
}

.step3Game {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.step3Game_help_point {
    position: absolute;
    right: 5%;
}

.step3Game_profiles {
    box-sizing: border-box;
    display: flex;
    height: 70%;
    width: 100%;
}

.step3Game_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.statementsCard {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-size: 2vh;
    font-family: 'Jost';
    width: 100%;
    height: 100%;
    position: relative;
}

.statementsCard_img {
    position: absolute;
    height: 100%;
    z-index: 1;
}

.statementsCard_information {
    position: absolute;
    bottom: 7%;
    width: 44%;
    z-index: 2;
}

.statementsCard_information > * {
    display: block;
    margin-top: 2vh;
}

.statementsCard_information > *:first-child {
    margin-top: 0px;
}

.statementsCard_div_text {
    display: flex;
    margin-bottom: 2%;
}

.statementsCard_label {
    font-weight: bold;
}

.checkbox_round {
    width: 3vh;
    height: 3vh;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 0.3vh solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    vertical-align: bottom;
    position: relative;
    top: -0.3vh;
}

.checkbox_round:checked {
    background-color: lightgreen;
}

.checkbox_label {
    display: block;
    margin-left: 12%;
}

.checkbox_container {
    line-height: 0vh;
}

input[type="checkbox"] {
    vertical-align:middle;
    margin-right: 1%;
    margin-left: -15%;
}

.gamePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamePage_title_container {
    margin: 0 5%;
    box-sizing: border-box;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamePage_title_container > img {
    position: absolute;
    top: 10px;
    right: 0;
    height: 4vh;
    cursor: pointer;
}

.gamePage_title_container > h2 {
    margin-top: 5vh;
    font-family: "Spicy Rice";
    font-size: 4vh;
    text-align: center;
}

.gamePage_title_container > p {
    text-align: center;
    font-size: 2.1vh;
    font-weight: 300;
}

.gamePage_container {
    height: 55vh;
    width: 100%;
    margin-bottom: 3vh;
}

.step5game {
    height: 100%;
    width: 100%;
}

.step5Game_videos {
    display: flex;
    flex-direction: column;
}

.step5Game_video {
    width: 100%;
    height: 100%;
}

.step5Game_video_control {
    width: 100%;
    height: 100%;
}

.step6Game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step6Game > img {
    width: 45%;
}

#chart {
    width: 40%;
    height: 40%;
}
