<div id="downup-{{id}}">
    <div class="downupPopup-content">
        <img src="{{profile_image_url}}" alt="Profile Picture {{name}}" height="100px" class="profile">
        <h3 class="nom-candidat">{{name}}</h3>
        <select name="lenght" id="select-{{id}}">
            <option value="semaine">Les tweets populaires cette semaine</option>
            <option value="tous">Les tweets populaires depuis septembre</option>
        </select>
        <table>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="box-tweet">
            <div id="mySwiper{{id}}" class="swiper candidattweet">
                <div class="swiper-wrapper">
                    <!-- auto generated slides -->
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div id="images{{id}}" class="img"></div>

        </div>
        
        <div id="tweets-candidat">
            <div id="tweet-candidat">
            </div>
        </div>


    </div>
</div>