<div id="downup-{{id}}">
    <div class="downupPopup-content">
        <img src="{{profile_image_url}}" alt="Profile Picture {{name}}" height="70px" class="profile">
        <h3 class="nom-candidat">{{name}}</h3>
        <table>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div id="mySwiper1" class="swiper">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</div>