<div class="box-tweet-top">
    <div id="mySwiperTop" class="swiper toptweet">
        <div class="swiper-wrapper">
            <!-- auto generated slides -->
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
