<p id="tweetname" innerHTML="">{{name_UP}} @{{screen_name}}</p>
<p id="tweetcontent" innerHTML="">{{text}}</p>
<img id="image-top">
<table>
    <tbody>
        <tr style="color: black;">
            <td>{{reply_count}} tweets</td>
            <td>{{retweet_count}} retweets</td>
            <td>{{favorite_count}} favoris</td>
        </tr>
    </tbody>
</table>
