<p id="tweetname">{{{name_UP}}} @{{{screen_name}}}</p>
<p id="tweetcontent">"{{{text}}}"</p>
<table id="table-top">
    <tbody>
        <tr style="color: black;">
            <td>{{retweet_count}} retweets</td>
            <td>{{favorite_count}} favoris</td>
        </tr>
    </tbody>
</table>
<img class="profile3" src="{{{url}}}">
