<canvas width="1" height="1" id="graph-chartjs"></canvas>
<div class="graph-etrangers-values">
    <div><%= cityName %> : <%= cityPercent %>%</div>
    <div class="fd-red">France : <%= meanPercent %>%</div>
</div>