*{
    padding:0;
    margin:0;
}

@font-face {
    font-family: 'blatantregular';
    src: url('../font/blatant-webfont.woff') format('woff'),
         url('../font/blatant-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: black;
    color: white;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: 'blatantregular';
}

#container {
    background: #FFFFFF;
    color: #1A367A;
    font-size: 15px;
    position: relative;
}

#container div {
    text-align: center;
}

#return {
    padding-top: 10%;
    position: relative;
    margin-left: 85%;
}

#categorie ul {
    margin-bottom: 10%;
    list-style-type: none;
}

#followers-commun {
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
}

#followers-commun p, #choix-theme p {
    font-size: 12px;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

#choix-theme {
    text-align: center;
}

#choix-theme ul li {
    margin-bottom: 10%;
}

#choix-theme ul li button, #followers {
    background-color: #F24A41;
    border-radius: 19px;
    width: 217px;
    height: 33px;
    color: white;
    border: 0;
}

#categorie {
    position: absolute;
    width: 100%;
    visibility: hidden;
}

#selection-candidat {
    width: 100%;
}

#selection-candidat ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-type: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

#selection-candidat ul li {
    padding-bottom: 10%;
}

#text-selec-candidat, #text-categorie {
    margin-bottom: 5%;
    margin-top: 3%;
    font-size: 20px;
}

.txt-selec-candidat {
    font-size: 10px;
}

.img-selec-candidat {
    width: 75%;
}

#container footer{
    bottom: 5%;
    font-size: 13px;
    text-align: center;
    padding: 0 1em;
}

@media screen and (max-aspect-ratio: 7/13){
    #container{
        margin-top: calc((100vh - 100 * 13vw / 7) / 2);
        width: 100vw;
        height: calc(100 * 13vw / 7);
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display width */
    body{
        font-size: calc(12vw*13/7);
    }
}

/* This media query ensures that we allways will the height of the screen */
/* as long as the screen aspect ratio is higher than 9:16 */
@media screen and (min-aspect-ratio: 7/13){
    #container{
        margin-left: calc((100vw - 100 * 7vh / 13) / 2);
        width: calc(100 * 7vh / 13);
        height: 100vh;
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display height */
    body{
        font-size: 12vh;
    }
}