* {
    padding: 0;
    margin: 0;
    font-family: 'blatantregular';
}

body {
    background-color: black;
    overflow: hidden;
}

@font-face {
    font-family: 'blatantregular';
    src: url('../font/blatant-webfont.woff') format('woff'),
        url('../font/blatant-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

#container {
    background-color: #84A6FC;
    color: black;
    padding-top: 3vh;
    font-size: 30%;
    height: 100vh;
    overflow: hidden;
}

#top-section {
    display: flex;
    justify-content: space-between;
    margin-right: 4%;
    align-items: center;
    height: 4vh;
    padding-top: 3vh;
}

#result {
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
    font-size: 2.5rem;
    padding-top: 7vh;
    text-align: justify;
    height: 5vh;
}

#result div {
    position: absolute;
}

/* changer la visibilité selon le résultat */
.right {
    visibility: visible;
}

.wrong {
    visibility: hidden;
}


#answer {
    margin-top: 10vh;
    color: white;
    font-size: 1rem;
    position: relative;
    height: 40vh;
}

#answer img {
    position: absolute;
}

#answer>.answer-text {
    width: 80%;
    position: absolute;
    text-align: center;
    display: inline;
    margin-top: 30vh;
    margin-left: 10%;
    font-family: 'Lato', sans-serif;
}

#solutionCandidate {
    display: inline;
    font-weight: bold;
}

#percentage {
    font-weight: bold;
}

#mainCandidate {
    display: inline;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 31vh;
}

.button {
    background-color: white;
    color: #5571E5;
    border-radius: 19px;
    text-align: center;
    width: 65%;
    height: 6vh;
    border: none;
    font-size: 80%;
    line-height: 6vh;
}

#about {
    background-color: #84A6FC;
    color: white;
    margin-top: 3vh;
    text-align: center;
    border: none;
}

#about img {
    margin-top: 2vh;
}




/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Can be adapted for other ratios that 9:16 or for horizontal content (ex: 16:9) */

/* This media query ensures that we allways will the width of the screen */
/* as long as the screen aspect ratio is below 9:16 */
@media screen and (max-aspect-ratio: 9/16) {
    #container {
        /* margin-top: calc((100vh - 100 * 16vw / 9) / 2); */
        width: 100vw;
        /* height: calc(100 * 16vw / 9); */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display width */
    body {
        font-size: calc(12vw*16/9);
    }
}

/* This media query ensures that we allways will the height of the screen */
/* as long as the screen aspect ratio is higher than 9:16 */
@media screen and (min-aspect-ratio: 9/16) {
    #container {
        margin-left: calc((100vw - 100 * 9vh / 16) / 2);
        width: calc(100 * 9vh / 16);
        height: 100vh;
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display height */
    body {
        font-size: 12vh;
    }
}