* {
    padding: 0;
    margin: 0;
    font-family: 'blatantregular';
}

html,body{
    overflow: hidden;
    background-size: cover;
    background-color: black;
    background: transparent;
}

video { 
    z-index: -100;
    position: absolute;
    width:100%;
}

#content{
    position: absolute;
    width: 100%;
}

@font-face {
    font-family: 'blatantregular';
    src: url('../font/blatant-webfont.woff') format('woff'),
         url('../font/blatant-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

#container {    
    background-color: white;
    background-color: transparent;
    color: black;
    padding-top: 3vh;
    font-size: 30%;
    height:100vh;
    overflow: hidden;
    position: relative;
}

#exit {
    padding-top: 7%;
    margin-left: 85.5%;
    width: 8%;
}

#congrats{
    margin-top: 15vh;
    font-size: 3rem;
    text-align: center;
    color:#5571E5;
    width:80%;
    margin-left: 10%;
}
#score{
    color:#1A367A;
}

#buttons{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

#success{
    visibility: hidden;
    width:100%;
}

#fail{
    visibility: hidden;
    width:100%;
}

#sentence{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sentence p{
    position: absolute;
    font-size: 5vh;
}

.button{
    background-color: #5571E5;
    color: white;
    border-radius: 19px;
    text-align: center;
    width: 80%;
    height: 6vh;
    margin-top: 5vh;
    line-height: 6vh;
    border: none;
    font-size: 2.7vh;
}


/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Can be adapted for other ratios that 9:16 or for horizontal content (ex: 16:9) */

/* This media query ensures that we allways will the width of the screen */
/* as long as the screen aspect ratio is below 9:16 */
@media screen and (max-aspect-ratio: 9/16) {
    #container {
        /* margin-top: calc((100vh - 100 * 16vw / 9) / 2); */
        width: 100vw;
        /* height: calc(100 * 16vw / 9); */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display width */
    body {
        font-size: calc(12vw*16/9);
    }
}

/* This media query ensures that we allways will the height of the screen */
/* as long as the screen aspect ratio is higher than 9:16 */
@media screen and (min-aspect-ratio: 9/16) {
    #container {
        margin-left: calc((100vw - 100 * 9vh / 16) / 2);
        width: calc(100 * 9vh / 16);
        height: 100vh;
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display height */
    body {
        font-size: 12vh;
    }
}