/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* that forces a 9:16 format (portrait) on all contents */


/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
}

@font-face {
    font-family: 'blatantregular';
    src: url('../font/blatant-webfont.woff') format('woff'),
         url('../font/blatant-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: black;
    color: white;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: 'blatantregular';
}

#container{
    position: relative; /* for absolute positionning of child elements*/
}

/* Swiper slider. Need to fill the 9:16 constrained container */
#mySwiper{
    width: 100%;
    height:100%;
    position: absolute;
}

.swiper-pagination-bullet {
    border: 1.5px solid #1A367A !important;
    background-color: #E5E5E5 !important;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
    background-color: #1A367A !important;
}

/* FIRST SLIDE */
#first-slide {
    text-align: center;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    font-size: 30%;
    z-index: 2;
    background: #5571E5;
}

#logo {
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80%;
    margin-bottom: 15%;
}

#phrase-daccroche {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
}

.vector {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
}

#vector1 {
    width: 22px;
    height: 15px;
}

/* Footer of last slide is at the bottom and content is centered */
#first-slide footer{
    bottom: 5%;
    font-size: 13px;
    text-align: center;
    padding: 0 1em;
}

/* SECOND SLIDE */

#second-slide {
    background: #FFFFFF;
    color: #1A367A;
    font-size: 15px;
}

#second-slide div {
    text-align: center;
}

#text-slide-2 {
    font-size: 15px;
    margin-left: 15%;
    margin-right: 15%;
}

#title-slide-2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 15%;
}

#illustration-slide-2 {
    margin-top: 20%;
    margin-bottom: 5%;
}

#illustration-slide-2 img {
    position: relative;
    width: 204px;
    height: 269px;
}

#button-slide-2 {
    background-color: #5571E5;
    color: #FFFFFF;
    border-radius: 19px;
    font-size: 20px;
    text-align: center;
    width: 191px;
    height: 39px;
    border: 0;
}

#second-slide footer{
    bottom: 5%;
    font-size: 13px;
    text-align: center;
    padding: 0 1em;
}

#second-slide footer p{
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
}

#vector2 {
    width: 22px;
    height: 15px;
}

/* THIRD SLIDE */
#third-slide {
    background: #FFFFFF;
    color: #1A367A;
    font-size: 15px;
}

#third-slide div {
    text-align: center;
}

#title-slide-3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 10%;
}

#categorie ul {
    margin-top: 5%;
    margin-bottom: 10%;
    list-style-type: none;
}

#categorie ul li {
    margin-bottom: 5%;
}

#categorie ul li button {
    background-color: #F24A41;
    border-radius: 19px;
    width: 217px;
    height: 33px;
    height: 33px;
    color: white;
}

#selection-candidat p {
    margin-bottom: 5%;
}

#decouvrir button {
    margin-top: 10%;
    height: 37px;
    width: 191px;
    border-radius: 19px;
    color: white;
    background-color: #5571E5;
}

#third-slide footer{
    bottom: 5%;
    font-size: 13px;
    text-align: center;
    padding: 0 1em;
}

/* FOURTH SLIDE */
#fourth-slide {
    background: #FFFFFF;
    color: #1A367A;
}

#logo-hyblab{
    text-align: center;
    width: 50%;
    left: 50%;
    top: 50%;
    margin-left:-25%;
    margin-top:calc(-7.5% * 9 / 16 ); /* margins are relative to the element width... :-( */
    position: absolute;
    font-size: 50%;
    z-index: 2;
    cursor: pointer;
}

#credits {
    margin-top: 20%;
    font-size: 20px;
    text-align: center;
}

#credits ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    margin-left: 7%;
    margin-right: 7%;
}

#credits ul li {
    margin-bottom: 15%;
}

.prenom {
    font-weight: bold;
}

.nom {
    font-size: 17px;
    color: #5571E5;
}


/* ---------- Positionning of logos on the last slide ----------------- */
/* here we have a contraint on the height of the logos (not the width) */
/* so we cannot use % and use em (which are proportinal to the size of the */
/* slide because of body's font size rule at the beginning of this CSS */
#bandeau {
    padding-bottom: 3%;
    width:100%;
    height:25%;
    position: relative;
    top: 0;
    background-color: white;
    font-size: 20%;
  }

  #bandeau li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
  }

  #bandeau img{
    height: 1.5em;
  }

  #bandeau #hyblab{
    margin: 1em auto;
    height: 3em;
    display: block;
  }

  #bandeau #cc, #bandeau #opensource
  {
    height: 1em;
  }

  #bandeau .stacked{
    display:block;
  }

  #bandeau ul{
    text-align: center;
    padding: 0 0;
  }

  #bandeau .institutionnel
  {
    height: 2em;
  }

/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Can be adapted for other ratios that 9:16 or for horizontal content (ex: 16:9) */

/* This media query ensures that we allways will the width of the screen */
/* as long as the screen aspect ratio is below 9:16 */
@media screen and (max-aspect-ratio: 9/16){
    #container{
        margin-top: calc((100vh - 100 * 16vw / 9) / 2);
        width: 100vw;
        height: calc(100 * 16vw / 9);
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display width */
    body{
        font-size: calc(12vw*16/9);
    }
}

/* This media query ensures that we allways will the height of the screen */
/* as long as the screen aspect ratio is higher than 9:16 */
@media screen and (min-aspect-ratio: 9/16){
    #container{
        margin-left: calc((100vw - 100 * 9vh / 16) / 2);
        width: calc(100 * 9vh / 16);
        height: 100vh;
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display height */
    body{
        font-size: 12vh;
    }
}