/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* that forces a 9:16 format (portrait) on all contents */


/* Normalize margin and padding to ease elements positioning */
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'blatantregular';
    src: url('../font/blatant-webfont.woff') format('woff'),
        url('../font/blatant-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: black;
    color: white;
    overflow: hidden;
    /* to avoid slider bugs on some browsers */
    font-family: 'blatantregular';
}

#container {
    position: relative;
    /* for absolute positionning of child elements*/
}

/* Swiper slider. Need to fill the 9:16 constrained container */
#mySwiper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.swiper-pagination-bullet {
    border: 0.01rem solid #1A367A !important;
    background-color: #E5E5E5 !important;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
    background-color: #1A367A !important;
}

/* FIRST SLIDE */
#first-slide {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 30%;
    z-index: 2;
    background: rgba(110, 134, 233);
}

#imagesLogo {
    margin-top: 5%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 80%;
}

#baseline {
    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-size: 3vh;
    text-align: center;
    margin-top: 5%;
}

footer p {
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
    padding: 0 5%;
}

#disclaimer {
    margin: 0 5%;
}

.vector {
    margin-top: 5%;
}

#vector1 {
    width: 10%;
}


/* Footer of last slide is at the bottom and content is centered */
#first-slide footer {
    bottom: 5%;
    font-size: 2.5vh;
    text-align: center;
    padding: 0 1em;
    position: absolute;
    left: 0;
    right: 0;
}

/* SECOND SLIDE */

#second-slide {
    background: #FFFFFF;
    color: #1A367A;
    font-size: 2.5vh;
    height: 100vh;
}

#second-slide div {
    text-align: center;
}

#text-slide-2 {
    font-size: 2.5vh;
    font-family: 'Lato', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

#illustration-slide-2 {
    margin-top: 10%;
    margin-bottom: 15%;
}

#illustration-slide-2 img {
    position: relative;
    width: 65%;
}

.button-slide-2 {
    background-color: #5571E5;
    color: #FFFFFF;
    border-radius: 19px;
    font-size: 3.5vh;
    width: 60%;
    height: 6vh;
    border: 0;
    margin-top: 5vh;
}

button{font-family: 'blatantregular';}

/* THIRD SLIDE */
#third-slide {
    background: #FFFFFF;
    color: #1A367A;
    height: 100vh;
}




/* ---------- Positionning of logos on the last slide ----------------- */
/* here we have a contraint on the height of the logos (not the width) */
/* so we cannot use % and use em (which are proportinal to the size of the */
/* slide because of body's font size rule at the beginning of this CSS */
#bandeau {
    display: grid;
    width: 100%;
    height: 35%;
    margin-top: 3%;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 35%);
}

#bandeau div {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#hyblab {
    height: 50%;
}

#bandeau img {
    height: 45%;
}

#bandeau #hyblab {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
}

#credits{
    margin-top: 32%;
    display: grid;
    height:35%;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 30%);
}

#credits div{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.prenom {
    font-size: 3.5vh;
}

.nom {
    font-size: 2.7vh;
    color: #5571E5;
}
#disclaimer{
    height:7%;
    font-size: 1.5vh;
    text-align: center;
    margin-top: -2.5vh;
}

#logos-op-cc{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-aspect-ratio: 9/16) {
    #container {
        width: 100vw;
        height: 100vh;
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display width */
    body {
        font-size: calc(12vw*9/16);
    }
}

/* This media query ensures that we allways will the height of the screen */
/* as long as the screen aspect ratio is higher than 9:16 */
@media screen and (min-aspect-ratio: 9/16) {
    #container {
        margin-left: calc((100vw - 100 * 9vh / 16) / 2);
        width: calc(100 * 9vh / 16);
        height: 100vh;
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to display height */
    body {
        font-size: 12vh;
    }
}