
.pv-header {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  width: 100%;
  height: 10%;
  margin-bottom: 1rem;
}

.pv-bg-blue {
  background-color: #1028fd;
}

.pv-bg-red {
  background-color: #ff2e00;
}
.pv-bg-red, .pv-bg-blue{
  height: 100%;
}


.pv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  /* height: 100%; */
  background-color: #e5e6f9;
  color:#ff2e00;
}

.pv-area{
  text-align: center;
  width: 90%;
}

.pv-header-ville{
  display: grid;
  grid-template-columns: 0.5fr 10fr;
  width: 100%;
  border : #ff2e00 solid 1px;
  box-shadow: 0.3rem 0.5rem #ff2e00;
  margin-bottom: 2rem;
}

.pv-geo{
  height: 100%;
  border-right:#ff2e00 solid 1px;
}

.pv-nom-ville{
  color:#ff2e00;
  font-size: 2.5rem;
  font-family: "CabinetGrotesk-Regular";
  display: flex;
  align-items: center;
  height: 100%;
}

.pv-p-nom-ville{
  text-align: center;
  width: 100%;
}

.pv-habitants {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  text-align: right;
}

.pv-habitants-nombre {
  font-weight: bold;
  font-size: 4em;
}

.pv-habitants-hab {
  font-weight: bold;
}

.pv-superficie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border-bottom: #ff2e00 solid 1px;
  padding-right: 0;
}

.pv-superficie-superficie {
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%;

}
.pv-superficie-nombre {
  font-weight: bold;
  font-size: 2em;

}

.pv-graphique{
  position: relative;
  height: 100%;
  width: 100%;
}

#metier{
  height: 100%;
  width: 100%;
}

.pv-suite{
  display: grid;
  background-color: #e5e6f9;
  align-items: center;
  color: #1028fd;
  border: solid 2px #1028fd;
  border-radius: 1rem;
  position: absolute;
  bottom: 2rem;
  right:2rem;
  font-size: 1.5;
  padding-right: 3%;
  grid-template-columns: 4fr 0.5fr;
  width: 40%;
  font-family: 'CabinetGrotesk-regular';
  font-size: 1.8em;
  cursor: pointer;
}

.pv-text-suite{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.pv-fleche{
  height: 50%;
}


