#quizSection{
    height:100%;
}


#hearts{
    height:15%;
}

#question{
    height:30%;
}

#answers{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:30%;
    width:33%;
    margin: auto;
}
#answers>*{
    background-color: #e4e5fa;
    color: #1028fd;
    border-radius: 10px;
    border: 2px solid #1028fd;
    font-family: 'CabinetGrotesk-regular';
    font-size: 1.8em;
}

#answers>*:hover{
    background-color: #1028fd;
    color: #e4e5fa;
}
/* #validate{
    height:30%;
    position: relative;
}

#validate>*{
    position: absolute;
    margin-right: 3%;
    right:0px;
    width: 40%;
    color: #e4e5fa;
    background-color: #1028fd;
    border-radius: 10px;
    border: 2px solid #1028fd;
    font-family: 'CabinetGrotesk-regular';
    font-size: 1.8em;
} */
