#flex-container {
  display: flex;
  flex-direction: row;
}

#flex-container > .flex-item:nth-child(1)
 {
  flex: 1;
}

#flex-container > .flex-item:nth-child(2)
 {
  flex: 2;
}
#flex-container > .flex-item:nth-child(3)
 {
  flex: 1;
}