*{
    padding:0;
    margin:0;
}

body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color:#ffffff;
    font-size: 20%;
}

.proof {
    position: absolute;  
    width: calc(100% - 6em);
    padding: 2em;
    border-radius: 0.25em;
    margin: 1em;
    background-color: #D8DEE9;
    color: #3B4252;
    box-shadow: rgb(184 194 215 / 35%) 0px 3px 6px 0px;
    text-align: justify;
    max-width: 600px;
}

.btn  {
    position: absolute;
    z-index: 1;
    font-size: 20%;
}




body {
    font-size: 12vh;
}