.ts-dossier{
  height: 10%;
}

.ts-screen{
  position: relative;
  display :flex;
  flex-direction: column;
  height: 90%;
  width:100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ts-topsecret{
  height: 30%;
  position: relative;
 /* Équivalent à rotateZ(45deg) */
}
.ts-p-topsecret{
  position: absolute;
  font-size: 2rem;
  font-family: 'CabinetGrotesk-Extrabold';
  border: #ff2e00 solid 3px;
  color: #ff2e00;
  border-radius: 1rem;
  width: 15rem;
  top: 0%;
  left: 50%;
  transform: rotate(330deg) translate(-50%, -50%);
}

.ts-code-acces{
  height: 15%;
  font-size:2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ts-inputs{
  height: 10%;
}
.ts-input{
  font-size: 4rem;
  height: 100%;
  margin-right: 1rem;
  margin-left:1rem;
  width: 9%;
  border: #1028fd solid 1px;
  border-radius: 1rem;
}

.ts-obtain-code{
  height: 15%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ts-link{
  border-bottom: #1028fd solid 1px;
}

.ts-footer{
  border: #1028fd solid 1px;
  border-radius: 50%;
  position:absolute;
  bottom : 1rem;
  left: 1rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ts-footer-button{
  height:50%;
  width: 50%;
  border:none;

}

.ts-fleche{
  height: 100%;
  background-color: #e4e5fa;
}