<div class="questionAnswer">
    <div class="questionBulle Bad">
        Mauvaise réponse !
    </div>
</div>
<div id="hearts">
</div>

<div id="validate" style="height: 30%;">
    <input id="nextQuiz" type="button" value="Suite">
</div>
</div>