<div id="questionAnswer">
    <div class="questionBulle Bad">
        Mauvaise réponse !
    </div>
</div>
<div id="hearts">
</div>

<div id="validate">
    <input id="nextQuiz" type="button" value="Suite">
</div>