<div id="goodAnswer">
    <div id="question">
        Mauvaise réponse !
    </div>
    <div id="hearts">
    </div>

    <div id="validate">
        <input id="nextQuiz" type="button" value="Suite">
    </div>
</div>