<% if(number){%>
<div id="goodAnswer">
    <div id="hearts">
    </div>
    <div id="question">
        Bonne réponse !
    </div>
    <div id="codeNumber">
        <%= number %>
    </div>

    <div id="validate">
        <input id="nextQuiz" type="button" value="Suite">
    </div>
</div>
<% } %>