<% if(number){%>
<div id="goodAnswer">
    <div id="hearts">
        <img src="img/coeur-petit-plein.svg" height="18px">
        <img src="img/coeur-petit-plein.svg" height="18px">
        <img src="img/coeur-petit-plein.svg" height="18px">
    </div>
    <div id="question">
        <%= number %>
    </div>

    <div id="validate">
        <input type="button" value="Valider">
    </div>
</div>
<% } %>