<% if(number){%>
<div id="hearts">
</div>
<div id="questionAnswer">
    <div class="questionBulle">
        Bonne réponse !
    </div>
    <div class="questionBulle">
        <%= number %>
    </div>
</div>

<div id="validate">
    <input id="nextQuiz" type="button" value="Suite">
</div>
<% } %>