<% if(number){%>
<div id="hearts">
</div>
<div class="questionAnswer good">
    <div class="questionBulle">
        Bonne réponse !
    </div>
    <div class="questionBulle">
        code : <%= number %>
    </div>
</div>

<div id="validate">
    <input id="nextQuiz" type="button" value="Suite">
</div>
<% } %>