/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* that forces a 9:16 format (portrait) on all contents */

@font-face {
  font-family: "First Fun";
  src: url("fonts/first-fun/FirstFun-Regular.eot");
  src: url("fonts/first-fun/FirstFun-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/first-fun/FirstFun-Regular.woff2") format("woff2"),
    url("fonts/first-fun/FirstFun-Regular.woff") format("woff"),
    url("fonts/first-fun/FirstFun-Regular.svg#FirstFun-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Normalize margin and padding to ease elements positioning */
* {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  background-color: black;
  color: #e5e5e5;
  overflow: hidden; /* to avoid slider bugs on some browsers */
  font-family: "Lucida  Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#container {
  position: relative; /* for absolute positionning of child elements*/
}

/* Swiper slider. Need to fill the 9:16 constrained container */
#mySwiper {
  width: 100%;
  height: 100%;
  position: absolute;
}
.swiper-pagination {
  height: 0% !important;
}
.swiper-pagination-bullet {
  background-color: #d4c2f0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #4f00ec !important;
}

/* the slides and the loader should fill the whole 9:16 zone */
.swiper-wrapper section {
  background-color: white;
  width: 100%;
  height: 100%;
}

/* Styles for the homepage */
#homepage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  background-color: white;
}

.logo-container {
  width: 100%;
  height: 25%;
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 3;
}

.logo-container img {
  width: 50%;
}

#background {
  height: 55%;
  width: 100%;
}

#background svg {
  position: absolute;
  bottom: 0;
}

#spaceship svg {
  position: absolute;
  top: -3%;
}

#homepage p {
  font-family: "First Fun", Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-size: 20%;
  width: 85%;
  text-align: center;
  z-index: 3;
  color: #6450ce;
}

.button-container {
  position: absolute;
  bottom: 2%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#headphone {
  display: none;
  opacity: 0;
  flex-direction: column;
  width: 80%;
  align-items: center;
  padding: 5%;
}

#headphone p {
  font-family: "Nunito";
}

#headphone p b {
  font-family: "Nunito";
  font-weight: 900;
}

#headphone-img {
  width: 50px;
  height: 50px;
  margin-bottom: 20%;
}

#play-button {
  font-family: "First Fun";
  font-size: 30%;
  height: 70%;
  width: 80%;
  background-color: #0af2e1;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

#play-button:hover,
#next-button:hover {
  transition-duration: 0.1s;
  background-color: #4f00ec;
}

/* Falling alien page */

#falling p {
  font-family: "Nunito";
  font-size: 18%;
  font-weight: 900;
}

#falling {
  /* Flexbox to center the entire element on the screen */
  display: flex;
  justify-content: center;
  /* This is a magic number based on the context in which this snippet is used and effects the perspective */
  margin: auto;
  width: 100%;
}

#background-falling {
  height: 60%;
  width: 100%;
}

#background-falling svg {
  position: absolute;
  top: 0;
}
#falling .bulle {
  position: absolute;
  top: 5%;
  width: 70%;
  left: 8%;
  background: #4f00ec;
  padding: 5%;
  border: 4px solid #0af2e1;
  border-radius: 15px;
  overflow: hidden;
}

#next-button {
  position: absolute;
  bottom: 5%;
  left: 10%;
  font-family: "First Fun";
  font-size: 30%;
  width: 80%;
  height: 7%;
  background-color: #0af2e1;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0;
}

/* Styles for all "power" sections */

.pouvoir-header {
  width: 90%;
}
#animationsContainer {
  width: 75%;
  height: 75%;
}
#animationsContainer svg {
  position: absolute;
  top: 2%;
}

#animationsContainer img {
  position: absolute;
  top: 50%;
  right: 10.5%;
  z-index: 3;
  width: 13%;
  height: auto;
  -webkit-animation: blink 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: blink 2s;
  -moz-animation-iteration-count: infinite;
  -o-animation: blink 2s;
  -o-animation-iteration-count: infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.phoneButton {
  position: absolute;
  top: 75%;
  left: 40%;
  width: 80px;
  height: 73px;
  cursor: pointer;
}
.phoneButton:hover {
  opacity: 75%;
}

.dialogBox {
  position: absolute;
  display: none;
  left: 11%;
  bottom: 8%;
  width: 75%;
  height: auto;
}

/* Mission 2 : Decret */

#p2 {
  background: white;
}

#bulle-pm {
  position: absolute;
  width: 85%;
  top: 17%;
  left: 5.5%;
}

#p2 p {
  font-family: "Nunito";
  font-size: 16%;
  position: absolute;
  width: 68%;
  top: 19%;
  left: 16%;
  z-index: 2;
}

#p2 b {
  font-family: "Nunito";
  font-weight: 800;
}

#drawing-container {
  position: absolute;
  bottom: -50%;
  height: 50%;
  background-color: #d0bff7;
}

#drawing-container canvas {
  width: 80%;
  height: 25%;
  position: absolute;
  bottom: 25%;
  left: 10%;
  border-radius: 15px;
  background-color: #e9e7f7;
}

#drawing-container img {
  width: 80%;
  position: absolute;
  bottom: 57%;
  left: 10%;
}

#send-button {
  position: absolute;
  width: 65%;
  height: 15%;
  bottom: 5%;
  left: 17.5%;
  font-family: "Nunito";
  font-weight: 800;
  font-size: 20%;
  background-color: #0af2e1;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0;
}

#send-button:disabled {
  background-color: #aaaaaa;
}

#p5 h3 {
  font-family: "First Fun", Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 35%;
  left: 7%;
  font-size: 20%;
  width: 85%;
  text-align: center;
  z-index: 3;
  color: #6450ce;
}
.dialogBox p {
  font-family: "Nunito";
  font-size: 16%;
  width: 82%;
  margin: auto;
  color: white;
  text-align: justify;
  position: absolute;
  bottom: 50%;
  left: 10%;
}
.apply-shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.choices button {
  font-family: "Nunito";
  font-size: 16%;
}

#p6 .dialog {
  position: relative;
  text-align: center;
  color: white;
  margin: 10%;
  width: 80%;
}

#p6 .dialog .dialog-text {
  font-family: "Nunito";
  font-size: 12px;
  width: 82%;
  margin: auto;
  color: white;
  text-align: justify;
  position: absolute;
  top: 15%;
  left: 10%;
}

#p6 .dialog .arrow {
  position: absolute;
  margin: auto;
  font-size: 16px;
  bottom: 30%;
  left: 40%;
}

#p6 .dialog-pressed {
  display: none;
  height: 30%;
}

#p6 .dialog-not-pressed {
  display: none;
  height: 30%;
}

#p6 .decompte {
  display: none;
  color: #624ece;
  height: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "First Fun";
}

#p6 .bouton-rouge {
  display: none;
  width: 60%;
  margin: 0% 10%;
  padding: 10%;
}

#p6 .illu-fin {
  display: none;
  width: 95%;
  margin: 0% 2.5%;
}

/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Can be adapted for other ratios that 9:16 or for horizontal content (ex: 16:9) */

/* This media query ensures that we allways will the width of the screen */
/* as long as the screen aspect ratio is below 9:16 */
@media screen and (max-aspect-ratio: 9/16) {
  #container {
    margin-top: calc((100vh - 100 * 16vw / 9) / 2);
    width: 100vw;
    height: calc(100 * 16vw / 9);
  }

  /* We set a default font size here. It will be the base for all other font sizes */
  /* Here the font size is proportional to display width */
  body {
    font-size: calc(12vw * 16 / 9);
  }
}
#thanks #thanks-background {
  position: absolute;
  top: 0%;
}

.fade {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* This media query ensures that we allways will the height of the screen */
/* as long as the screen aspect ratio is higher than 9:16 */
@media screen and (min-aspect-ratio: 9/16) {
  #container {
    margin-left: calc((100vw - 100 * 9vh / 16) / 2);
    width: calc(100 * 9vh / 16);
    height: 100vh;
  }

  /* We set a default font size here. It will be the base for all other font sizes */
  /* Here the font size is proportional to display height */
  body {
    font-size: 12vh;
  }
}
