body{
    color: #57517D;
}

#title{
    width:55%;
}

#subtitle{
    width: 32%;
}

div p{
    font-size: 16%;
    padding: 0% 5% 0% 5%;
}

p{
    font-family: 'mariannemedium';
}

.main-section{
    width: 100%;
    position: relative;
    margin-bottom: 3%;
    
}

#introduction{
    margin-top:5%;
    margin-bottom:3%;
    margin-right: 18%;
    font-family: 'mariannemedium';
}

#blue-content{
    color:#57517D;
}

#white-content{
    color:#FFFFFF;
}

#green-content{
    color:#276A50;
}

#light-content{
    color:#57517D;
    opacity: 50%;
}

.section-div{
    width: 60%;
}

#second-p{
    padding-top:30%;
}

#diagram{
    width:38%;
    margin-right: 5%;
}

#tv{
    width:52%;
    margin-left: -5%;
}

button{ 
    color:#FFFFFF;
    font-size: 70%;
}

.last-section{
    text-align: center;
    margin-top:12%;
}

.last-section img{
    width:75%;
}

@font-face {
    font-family: 'marianneregular';
    src: url('font/marianne-regular-webfont.woff2') format('woff2'),
         url('font/marianne-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}