body{
    color: #57517D;
}

#title{
    width:55%;
}

#subtitle{
    width: 32%;
}

div p{
    font-size: 15%;
    padding: 0% 3% 0% 3%;
}

.section-div p{
    font-family: 'mariannebold';
}

.main-section{
    width: 100%;
    display: inline-block;
    position: relative;
    
}

#introduction{
    margin-top:5%;
    margin-bottom:3%;
    font-family: 'mariannemedium';
}

#blue-content{
    color:#57517D;
}

#white-content{
    color:#FFFFFF;
}

#green-content{
    color:#276A50;
}

#light-content{
    color:#57517D;
    opacity: 50%;
}

.section-div{
    width: 60%;
}

#diagram{
    width:15%;
    position: absolute;
    left: 2%;
    display: block;
}

#tv{
    width:15%;
    position: absolute;
    left: 2%;
}

#anime_img{
    position: relative;
    width:50%;
    text-align: center;
}

button{ 
    color:#ADB3D7;
    font-size: 70%;
}

@font-face {
    font-family: 'mariannemedium';
    src: url('font/marianne-medium-webfont.woff2') format('woff2'),
         url('font/marianne-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mariannebold';
    src: url('font/marianne-bold-webfont.woff2') format('woff2'),
         url('font/marianne-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


