#first-page{
    margin-top: 65%;
    text-align: center;
    font-family: folsomblack;
    font-size: 25%;
    color: #57517D;
}

#first-page-body{
        color:#57517D;
}

body{
        color: #656565;
}


#intro-text{
        text-align: center;
        padding: 6% 15% 6% 15%;
        font-size: 18%;
        color: #57517D;
}

#but{
        text-align: center;
        margin-top: -10%;
}

#go_to{
        text-align: center;
        border: solid 2px;
        width: 35%;
        border-radius: 30px;
        padding: 1% 3% 1% 3%;
        border-color: #57517D;
}

#title{
    width:55%;
}

#subtitle{
    width: 32%;
}


#first-section{
    background-color: #FAF3EE;
}

p{
    font-size: 15%;
    font-family: "mariannemedium";
    font-variant: normal;
}

#buttonvainqueur{
        position: absolute;
        top:49%;
        width: 80%;
}

#buttonlooser{
        position:absolute;
        top:60%;
        width: 80%;
}

#buttonsecondtour{
        position:absolute;
        top:71%;
        width: 80%;
}

#head_simulation{
    margin-top: 10%;
    width: 100%;
    display:block;

}

#head_simulation p{
        text-align: center;
}

#close{
        position: absolute;
        top:5%;
        right:5%;
        width: 7%;
        display: none;
}

.button{ 
    margin-top: -5%;
    width: 35%;
    padding: 2% 4% 2% 4%;
    border-radius: 30px;
    border: none;
    font-family: 'folsomblack';
    font-size: 15%;
    background-color: #C9C4C2;;
    color:#FFFFFF;
    position: absolute;
}

#vainqueur{
        top: 46%;
        margin-bottom: 1%;
        margin-left: 34%;
}
#perdant{
        top: 57%;
        margin-bottom: 1%;
        margin-left: 34%;
}
#gagnant{
        top: 68%;
        margin-bottom: 1%;
        margin-left: 34%;
}

#checkup{
        top: 75%;
        left: 37%;
        width: 26%;
        position: absolute;
}


.main-section{
    margin-top: 2%;
    margin-bottom: 12%;
}

.main-section img{
    margin-right: 1.5%;
}

.center{
    padding-top: 1%;
    padding-bottom: 1%;
}

.introduction{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 8%;
    text-align: center;
}

.head-section{
    text-align: center;
    margin-bottom: 2%;
}

#f-section{
    margin-top: 5%;
    display: none;
}

#s-section{
    margin-top: 5%;
    display: none;
}

#t-section{
    margin-top: 5%;
    display: none;
}

#second_tour{
        position: absolute;
        bottom: 12%;
        background-color: #656565;
        padding: 0%;
        width: 35%;
        height: 4%;
        left: 32%;
}

#q-section{
        margin-top: 5%;
        display: none;
}

#persoA{
        width: 13%;
        left:44.5%;
        top:27%;
        position: absolute;
}
.textintrosim{
        font-family: "mariannemedium";
        font-variant: normal;
        font-size:15%;
        color:#989595;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: -10%;
        margin-top: -2%;
        text-align: center;
        

}

footer{
        height: 5%;
}

#description{
        position: absolute;
        top:36%;
}

.intro_page_section{
        margin-top: -15%;
}

@keyframes graphic {
    0% {
      -webkit-transform: scaleX(0.2);
              transform: scaleX(0.2);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }

  @keyframes entrance {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }


@keyframes percentage {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }


@keyframes slide-in-bottom {
0% {
        -webkit-transform: translateY(1000px);
                transform: translateY(1000px);
        opacity: 0;
}
100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
}
}
      


.anim-graphic {
	-webkit-animation: graphic 1.2s linear both;
	        animation: graphic 1.2s linear both;
    float:left;
}


.anim-candidate {
	-webkit-animation: entrance 1.1s 1.2s both;
	        animation: entrance 1.1s 1.2s both;
}

.anim-percentage {
        font-size: 20%;
	-webkit-animation: percentage 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.2s both;
	        animation: percentage 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.2s both;
}

.au_milieu{
        position:absolute;
        top:35%;
        left:23%;
}

#bouton_jtexplique{
        position:absolute;
        top:55%;
        left:35%;
        border-radius:30px;
        background-color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 1% 6% 1% 6%;
}


#second-slide .div_bureau{
        position: relative;
        margin-top:2.5%;
        -webkit-animation: slide-in-bottom 1.1s 1s both;
	        animation: slide-in-bottom 1.1s 1s both;
}

#second-slide .div_bureau{
        margin-left: 1%;
        margin-right: 1%;
        width:48%;
        margin-top:5%;
}

#second-slide .div_bureau p{
        text-align: center;
        font-size:12%;
        margin-bottom:0.5%;
        margin-top:0.5%
}

#second-slide footer{
        font-family: 'mariannemedium';
        font-style: italic;
        font-size:18%;
        text-align: center;
        -webkit-animation: slide-in-bottom 1.1s 5s both;
                animation: slide-in-bottom 1.1s 5s both;
        margin-top:10%;
}


.pagenumber{
        position: absolute;
        color:#656565;
        margin-top: 5%;
        text-align:center;
        font-weight:bolder;
        font-size:15%;
        width: 100%;
        font-family:"mariannemedium";
        bottom:2.5%;
    }
    
    #currentnum{
    display:inline-block;
            color:#656565;
            text-decoration:none
    }
    a:link,a:visited{
        display:inline-block;
        color:#656565;
        padding:0% 3%;
        margin:0.5%;
        text-decoration:none;
    }
    
    .not_current{
        opacity: 50%;
    }