.main-part section{
    background-color: #FAF3EE;
}

#enveloppebleue{
    position: absolute;
    left: -8.49%;
    right: 22.94%;
    top: 1.25%;
    bottom: 65.94%;

    transform: rotate(4.76deg);
    animation:enveloppebleue_animation 2.5s;
    -webkit-animation:enveloppebleue_animation 2.5s; /* Safari and Chrome */
}

@keyframes enveloppebleue_animation
{
    0%   {left: -69.88%;right: 84.32%;top: -8.75%;bottom: 75.94%; opacity:0;}
    60%  {opacity: 1};
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
    100% {left:-8.49%;right:22.94%;top:1.25%;bottom:65.94%;}
}
@-webkit-keyframes enveloppebleue_animation /* Safari and Chrome */
{
    0%   {left: -69.88%;right: 84.32%;top: -8.75%;bottom: 75.94%;}
    /*25%  {background:yellow; left:200px; top:0px;}*/
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
    100% {left:-8.49%;right:22.94%;top:1.25%;bottom:65.94%;}
}

#envelopperouge{
    position: absolute;
    left: 27.22%;
    right: -10.44%;
    top: 30.78%;
    bottom: 41.96%;
    animation:envelopperouge_animation 2.5s;
    -webkit-animation:envelopperouge_animation 2.5s; /* Safari and Chrome */
}

@keyframes envelopperouge_animation
{
    0%   {left: 87.22%;right: -70.44%;top: 40.78%;bottom: 31.96%; opacity:0;}
    60%  {opacity: 1};
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
    100% {left: 27.22%;right: -10.44%;top: 30.78%;bottom: 41.96%;}
}
@-webkit-keyframes envelopperouge_animation /* Safari and Chrome */
{
    0%   {left: 87.22%;right: -70.44%;top: 40.78%;bottom: 31.96%;}
    /*25%  {background:yellow; left:200px; top:0px;}*/
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
    100% {left: 27.22%;right: -10.44%;top: 30.78%;bottom: 41.96%;}
}

#enveloppeblanche{
    position: absolute;
left: -19.36%;
right: 32.44%;
top: 52.91%;
bottom: 11.89%;
transform: rotate(-0.75deg);
    animation:enveloppeblanche_animation 2.5s;
    -webkit-animation:enveloppeblanche_animation 2.5s; /* Safari and Chrome */
}

@keyframes enveloppeblanche_animation
{
    0%   {left: -79.36%;right: 92.44%;top: 52.91%;bottom: 11.89%;opacity:0;}
    60%  {opacity: 1};
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
    100% {left: -19.36%;right: 32.44%;top: 52.91%;bottom: 11.89%;}
}
@-webkit-keyframes enveloppeblanche_animation /* Safari and Chrome */
{
    0%   {left: -79.36%;right: 92.44%;top: 52.91%;bottom: 11.89%;}
    /*25%  {background:yellow; left:200px; top:0px;}*/
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
    100% {left: -19.36%;right: 32.44%;top: 52.91%;bottom: 11.89%;}
}

#carte{
    position:absolute;
    left: 46.39%;
    right: 6.47%;
    top: 70.47%;
    bottom: -2.48%;
    border: 0.5px;
    width: 50%;
    transform: rotate(5.75deg);
    animation:carte_animation 2.5s;
    -webkit-animation:carte_animation 2.5s; /* Safari and Chrome */
}
@keyframes carte_animation
{
    0%   {left: 46.39%;right: 6.47%;top: 100.47%;bottom: -32.48%;opacity: 0;}
    60%  {opacity: 1;}
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
    100% {left: 46.39%;right: 6.47%;top: 70.47%;bottom: -2.48%;}
}
@-webkit-keyframes carte_animation /* Safari and Chrome */
{
    0%   {left: 46.39%;right: 6.47%;top: 100.47%;bottom: -32.48%;opacity: 0;}
    60%  {opacity: 1;}
    /*25%  {background:yellow; left:200px; top:0px;}*/
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
    100% {left: 46.39%;right: 6.47%;top: 70.47%;bottom: -2.48%;}
}

#return{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 10%;
    -webkit-animation: bounce-in-top 1.1s both 2s;
	        animation: bounce-in-top 1.1s both 2s;
}

@keyframes enveloppebleue_reverse
{
    0% {left:-8.49%;right:22.94%;top:1.25%;bottom:65.94%;opacity: 1;}
    40% {opacity:1;}
    90% {opacity:0;}
    100%   {left: -69.88%;right: 84.32%;top: -8.75%;bottom: 75.94%;opacity:0;}
    /*25%  {background:yellow; left:200px; top:0px;}*/
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
    
}
@-webkit-keyframes enveloppebleue_reverse /* Safari and Chrome */
{
    0% {left:-8.49%;right:22.94%;top:1.25%;bottom:65.94%;opacity: 1;}
    40% {opacity:1;}
    90% {opacity:0;}
    100%   {left: -69.88%;right: 84.32%;top: -8.75%;bottom: 75.94%;opacity:0;}
    /*25%  {background:yellow; left:200px; top:0px;}*/
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
}

@keyframes envelopperouge_reverse
{
    0% {left: 27.22%;right: -10.44%;top: 30.78%;bottom: 41.96%;opacity: 1;}
    40% {opacity:1;}
    90% {opacity:0;}
    100%   {left: 87.22%;right: -70.44%;top: 40.78%;bottom: 31.96%;opacity:0;}
    /*25%  {background:yellow; left:200px; top:0px;}*/
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
}
@-webkit-keyframes envelopperouge_reverse/* Safari and Chrome */
{
    0% {left: 27.22%;right: -10.44%;top: 30.78%;bottom: 41.96%;opacity: 1;}
    40% {opacity:1;}
    90% {opacity:0;}
    100%   {left: 87.22%;right: -70.44%;top: 40.78%;bottom: 31.96%;opacity:0;}
    /*25%  {background:yellow; left:200px; top:0px;}*/
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
}

@keyframes enveloppeblanche_reverse
{
    0% {left: -19.36%;right: 32.44%;top: 52.91%;bottom: 11.89%;opacity: 1;}
    40% {opacity:1;}
    90% {opacity:0;}
    100%   {left: -79.36%;right: 92.44%;top: 52.91%;bottom: 11.89%;opacity:0;}
    /*25%  {background:yellow; left:200px; top:0px;}*/
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
}
@-webkit-keyframes enveloppeblanche_reverse /* Safari and Chrome */
{
    0% {left: -19.36%;right: 32.44%;top: 52.91%;bottom: 11.89%;opacity: 1;}
    40% {opacity:1;}
    90% {opacity:0;}
    100%   {left: -79.36%;right: 92.44%;top: 52.91%;bottom: 11.89%;opacity:0;}
    /*25%  {background:yellow; left:200px; top:0px;}*/
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
}

@keyframes carte_reverse
{
    0% {left: 46.39%;right: 6.47%;top: 70.47%;bottom: -2.48%;opacity: 1;}
    40% {opacity:1;}
    90% {opacity:0;}
    100%   {left: 46.39%;right: 6.47%;top: 100.47%;bottom: -32.48%;opacity:0;}
    /*25%  {background:yellow; left:200px; top:0px;}*/
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
}
@-webkit-keyframes carte_reverse /* Safari and Chrome */
{
    0% {left: 46.39%;right: 6.47%;top: 70.47%;bottom: -2.48%;opacity: 1;}
    60% {opacity:1;}
    90% {opacity:0;}
    100%   {left: 46.39%;right: 6.47%;top: 100.47%;bottom: -32.48%;opacity: 0;}
    /*25%  {background:yellow; left:200px; top:0px;}*/
    /*50%  {background:blue; left:200px; top:200px;}*/
    /*75%  {background:green; left:0px; top:200px;}*/
}

#credits{
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 18%;
    -webkit-animation: bounce-in-top 1.1s both 2.5s;
	        animation: bounce-in-top 1.1s both 2.5s;
}

@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

  @-webkit-keyframes slide-out-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-1100px);
              transform: translateZ(-1100px);
      opacity: 0;
    }
  }
  @keyframes slide-out-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-1100px);
              transform: translateZ(-1100px);
      opacity: 0;
    }
  }

  .slide-out-bck-center {
	-webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}