.main-part section{
    background-color: #FAF3EE;
}


#enveloppebleue{
    position: absolute;
    left: -8.49%;
right: 22.94%;
top: 1.25%;
bottom: 65.94%;

transform: rotate(4.76deg);
}

#envelopperouge{
    position: absolute;
    left: 27.22%;
    right: -10.44%;
    top: 30.78%;
    bottom: 41.96%;

}

#enveloppeblanche{
    position: absolute;
left: -19.36%;
right: 32.44%;
top: 52.91%;
bottom: 11.89%;
transform: rotate(-0.75deg);
}

#carte{
    position:absolute;
    left: 46.39%;
    right: 6.47%;
    top: 70.47%;
    bottom: -2.48%;
    border: 0.5px;
    transform: rotate(5.75deg);
}