p{
    margin-bottom: 4%;
    font-family: 'mariannemedium';
    font-size:52%;
    padding-left: 1%;
    padding-right: 1%;
    
}

h1{
    margin-top: -5%;
    color: gray;
}

input{
    color: white;
    border-radius: 30px;
    padding : 1% 6% 1% 6%;
    background-color : #656565;
    font-family: 'folsomblack';
    
}

#Q3 > input {
    padding : 2% 10% 2% 10%;
}

/*Style des id*/

#first-section{
    background-color: white;
}

#elections{
    margin-top: -5%;
    width: 30%;
}

#Q1, #Q2, #Q3{
    display: flex;
    justify-content: space-around;
    
    
}

#urne{
    margin-top: 7%;
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
}


#title{
    width:55%;
}

#subtitle{
    width: 32%;
}

#last-section{
    width: 58%;
}