p{
    margin-bottom: 4%;
    font-family: 'mariannemedium';
    font-size:52%;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 4%;
    
}

h1{
    margin-top: -5%;
    color: gray;
}

input{
    color: white;
    border-radius: 30px;
    padding : 1% 6% 1% 6%;
    background-color : #656565;
    font-family: 'folsomblack';
    border: none;
    
}

header > div{
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 60%;
}
#Q3 > input {
    padding : 2% 10% 2% 10%;
    border: none;
    font-size: 100%;
}

/*Style des id*/

#first-section{
    background-color: white;
}

#elections{
    margin-top: -5%;
    width: 30%;
}

#Q1, #Q2, #Q3{
    display: flex;
    justify-content: space-around;
    
    
}

#urne{
    margin-top: 7%;
    padding-left: 3%;
    display: flex;
    justify-content: space-between;

}

#urne > p{
    font-size: 90%;
}

#title{
    width:25%;
}

#choisi{
    font-family:'/q-a-1/public/css/font/marianne-bolditalic-demo.html';
    font-size: 80%;
    
}
#choix_candidats{
    display: flex;
    justify-content: space-around;
    
}

#choix_candidats > img{
    width: 20%;
}

#subtitle{
    width: 22%;
    margin-top: -5%;
}

#last-section{
    width: 58%;
}

.main-section p, .bottom-section p {
    font-size: 16%;
    padding: 0% 5% 0% 5%;
}

#map{
    width:60%;
}

#legend{
    width:22%;
    padding-left: 5%;
    padding-top: 8%;
}

.bottom-section{
    margin-top: 45%;
}

#anim-section{
    text-align: center;
}

#lettre1{
    position:absolute;
    right: 0%;
    top:32%
}

#lettre2{
    width: 40%;
    position:absolute;
    left:0%;
    top:48%;
    
}

.button{ 
    padding : 2% 0% 2% 0%;
    margin: 1%;
    width: 40%;
    height: 8%;
    border-radius: 30px;
    border: none;
    font-family: 'folsomblack';
    font-size: 70%;
}

.verification{
    display: flex;
    justify-content:center;
    padding-left: 10%;
    margin-left: 5%;
}

.left{
    text-align: left;
    padding-left: 5%;
}

.right{
    text-align: right;
    padding-right: 5%;
}

.extright{
    text-align: right;
    margin-top: 15%;
    margin-bottom: 10%;
}